
.section {
  position: relative;
  top: -78px;
  background-color: #f6f6f6;
  min-height: 101vh;
  max-height: 101vh;
  overflow: hidden;
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/sunset_mountain.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.8);
  z-index: 0;
  background-color: #f6f6f6;
  transition: background-position 1.5s ease, transform 1.5s ease;
}
.section.scrolled::before {
  background-position: center bottom;
  transform: scale(1.1);
}
::ng-deep .navbar {
  background: none !important;
  background-color: transparent !important;
  z-index: 1000 !important;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 7rem;
  z-index: 1;
  position: relative;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.title-scrolled{
  transform: scale(0.2);
  opacity: 0;
}
.title h1{
  font-size: 50px;
  font-weight: 600;
  line-height: 3rem;
  color: #fff;
  text-wrap: balance;
}
.title h2{
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

.arrow-container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.arrow:focus{
  border: 0;
}

.arrow i{
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.arrow-container :first-child{
  position: absolute;
  bottom: 50px;
  z-index: 1;
  animation: bounce 2s infinite;
}
.arrow-container :nth-child(2){
  position: absolute;
  bottom: 70px;
  z-index: 1;
  animation: bounce 2s infinite;
  animation-delay: .2s;
}
.arrow-container :nth-child(3){
  position: absolute;
  bottom: 90px;
  z-index: 1;
  animation: bounce 2s infinite;
  animation-delay: .4s;
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
