<section class="section">
  <div class="container">
    <div class="title py-3">
      <h1> Landing Page </h1>
      <h2> Everything you need to start and run your own Business</h2>
    </div>
    <div class="arrow-container d-flex flex-column justify-content-center align-items-center">
      <button class="btn arrow bounce"><i class="bi bi-chevron-down"></i></button>
      <button class="btn arrow bounce"><i class="bi bi-chevron-down"></i></button>
      <button class="btn arrow bounce"><i class="bi bi-chevron-down"></i></button>
    </div>
  </div>
</section>

<!-- Features Cards Carousel -->
<app-features-section3></app-features-section3>

<!-- Team Section Carousel -->
<app-team-section2></app-team-section2>
<!-- Pricing Cards -->
