<section class="section">
  <div class="container">
    <div class="title">
      <button class="btn" routerLink="/guides">
        <i class="bi bi-arrow-left"></i>
        <span> Go back to guides </span>
      </button>
      <h1 class="mb-0"> Guide Name </h1>
      <span class="text-muted"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas harum aliquid veniam
        ullam porro quos odio et voluptate. </span>
    </div>
    <div class="header2 pt-5 pb-3">
      <h2 class="header"> Header level 2 </h2>
      <p> <strong>Lorem ipsum dolor,</strong> sit amet consectetur adipisicing elit. Incidunt nulla, porro provident
        maiores ducimus a quis. Unde nemo, magni aspernatur culpa reiciendis, ratione libero, sit possimus quisquam hic
        optio in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laborum itaque vel fugit voluptatem
        quidem veritatis et possimus quibusdam cumque, modi consequatur accusamus aperiam odio, rem perferendis. Nihil,
        eligendi officia? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, officia! Voluptas, aut
        totam? Voluptate quas temporibus, sed dolores facere, ex odit culpa facilis placeat odio laudantium velit modi
        minus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolore! Magnam, provident in et
        perspiciatis dolorem eum itaque ullam deserunt sapiente iure voluptates id ipsum animi similique libero qui
        dolores? Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing elit.</a> Corporis culpa nisi facilis,
        rem beatae minus
        quia illum nostrum, alias eos, dolorum quas dolores debitis consequuntur laboriosam harum commodi nobis sequi?
      </p>
    </div>
    <div class="header3 py-3">
      <h3 class="header"> Header level 3 </h3>
      <img src="../../../../../assets/bridge_wallpaper.webp" alt="Bridge Picture" class="img-fluid" loading="lazy">
      <p class="text-muted py-3"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur facere
        nemo, culpa molestias nisi quibusdam dolorum id nesciunt repellendus rem numquam placeat et minus ad iste
        exercitationem vero repellat commodi!</p>
    </div>
    <div class="header4 py-3">
      <h4 class="header"> Header Level 4 </h4>
      <figure class="blockquote-container">
        <blockquote class="blockquote py-3">
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt animi pariatur praesentium nulla assumenda eligendi facere qui veniam, commodi delectus dicta doloremque velit magni dignissimos nam blanditiis similique laboriosam!"</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
      </figure>
      <ul></ul>
    </div>
    <div class="header5"></div>
    <div class="header6"></div>
  </div>
</section>
