<section class="section">
  <div class="container title">
    <button class="btn" routerLink="/help-home">
      <i class="bi bi-arrow-left"></i>
      <span> Go back to help center </span>
    </button>
    <h1> Guides & Resources </h1>
  </div>
  <div class="container guides-container">
    <div class="row g-4">
      <div class="col-md-6" *ngFor="let guide of guides">
        <h2 class=" guide-title"> {{guide.title}} </h2>
        <ul class="list-unstyled">
          <li class="guide-item" *ngFor="let item of guide.guidesLinks | slice:0:4">
            <span role="button" class="guide-link" (click)="viewGuide(guide)"> {{item.title}} </span>
          </li>
          <li class="guide-item" *ngIf="guide.guidesLinks.length > 4">
            <button class="all-btn" type="button"> View All <i class="bi bi-arrow-right"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
