::ng-deep html{
  overflow: hidden !important;
}
.section {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("../../../assets/green-views.webp");
  background-repeat: no-repeat;
  position: relative;
  top: -76px;
  overflow: hidden !important;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.countdown h1 {
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 600;
  color: #023047;
}
.countdown h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #023047;
}
.countdown-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px;
  flex-wrap: nowrap !important;
  gap: 10px;
  border: 3px solid #fff;
  padding: 30px 0;
  border-radius: 20px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.4);
}

.countdown-timer-number,
.separator {
  font-size: 65px;
  font-weight: 500;
}
.countdown-timer-text {
  font-size: 18px;
  font-weight: 400;
}
.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.notified-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #023047;
  border-radius: 34px;
  background-color: #023047;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.notified-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.notified-btn:hover::before {
  scale: 4;
}

.notified-btn:hover {
  color: #212121;
  scale: 1.03;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  i {
    color: #212121;
  }
}

.notified-btn:active {
  scale: 1;
}
.social-container span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -300px;
  gap: 30px;
  flex-wrap: nowrap;
  width: 500px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 12px 14px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.social-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.social-icon:hover::before {
  scale: 1.3;
}

.social-icon:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  i {
    color: #212121;
  }
}

.social-icon:active {
  scale: 1;
}
.social-icon i {
  font-size: 18px;
}

::ng-deep .p-dialog {
  background-color: #fff;
  padding: 40px;

}
::ng-deep .p-dialog-mask.p-component-overlay.p-component-overlay-enter.p-dialog-mask-scrollblocker{
  z-index: 2000 !important;
}
.image-container {
  margin: 20px;
}
.custom-template {
  position: relative;
}
.close-container {
  position: absolute;
  right: 30px;
  top: 20px;
  width: fit-content;
}
.close-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}
.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.newsletter-title h1 {
  font-size: 35px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.subscribe {
  width: 12rem;
  height: auto;
}

button.subscribe .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #023047;
  border-radius: 1.625rem;
}

button.subscribe .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.subscribe .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.subscribe .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.2666rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.subscribe .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #023047;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
.form-control {
  border: 1px solid #0230474e;
}

.form-control:focus {
  outline: none !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #0230478d;
}
::ng-deep .navbar {
  background: none !important;
  background-color: transparent !important;
  color: #023047 !important;
  z-index: 1000 !important;
}

::ng-deep .navbar .btn i {
  color: #023047;
}
::ng-deep .sidebar-btn i {
  font-size: 20px;
  color: #fff !important;
}

@media (max-width: 767px) {
  .section {
    overflow: auto !important;
    overflow-x: hidden !important;
    padding-bottom: 4rem !important;
  }
  .col-2{
    display: flex;
    flex-direction: column;
  }
  .countdown h1 {
    line-height: 3rem;
    color: #fff;
  }
  .countdown h3{
    color: #fff;
  }
  .countdown-timer {
    flex-wrap: nowrap;
    max-height: 300px;
    width: 100% !important;
    padding: 10px;
  }
  /* .separator {
    display: none;
  } */
  .social-container {
    bottom: -50px;
  }
  .countdown-timer-number,
  .separator {
    font-size: clamp(30px, 5vw, 65px);
    font-weight: 500;
  }
  .countdown-timer-text {
    font-size: clamp(10px, 2vw, 18px);
    font-weight: 400;
  }
}
@media (min-width: 768px) and (max-width: 1700px) {
  .social-container {
    bottom: -120px;
  }
}
@media (max-width: 1024px){
  .section {
    top: -55px;
  }
}
