<section class="section ">
  <div class="title-container text-center">
    <h4 class="hello mb-0"> Hello Creatives </h4>
    <h1 class="title"> we are launching soon </h1>
  </div>
  <div class="countdown gap-2 d-flex justify-content-center align-items-center">
    <div *ngIf="countdown === 'COUNTDOWN FINISHED!'" class="card flip">
      <div class="card-body">
        <h1>{{countdown}}</h1>
      </div>
    </div>
    <div *ngIf="days >= 0" class="card flip">
      <div class="card-body">
        <div class="count-item">
          <span class="count-number"> {{days}} </span>
          <span class="count-text"> Days </span>
        </div>
      </div>
    </div>
    <div *ngIf="hours >= 0" class="card flip">
      <div class="card-body">
        <div class="count-item ">
          <span class="count-number"> {{hours}} </span>
          <span class="count-text"> hours </span>
        </div>
      </div>
    </div>
    <div *ngIf="minutes >= 0" class="card flip">
      <div class="card-body">
        <div class="count-item  ">
          <span class="count-number"> {{minutes}} </span>
          <span class="count-text"> Minutes </span>
        </div>
      </div>
    </div>
    <div *ngIf="seconds >= 0" class="card flip">
      <div class="card-body">
        <div class="count-item  ">
          <span class="count-number"> {{seconds}} </span>
          <span class="count-text"> Seconds </span>
        </div>
      </div>
    </div>


  </div>
</section>
