<div class="container-fluid w-100">
  <div class="row w-100">
    <div class="px-5 col-md-6 mt-5 left-container d-flex justify-content-center" style="flex-direction:column;">
      <div class="header text-end">
        <div class="title-header">
          <h2 class="title">Sign Up</h2>
          <small class="title-2">Already have an account? <a class="sign-in" href="signin-fullscreen">Sign In</a></small>
        </div>
      </div>
      <div class="body d-flex justify-content-end">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!--Name-->
          <div class="form-floating py-3 ">
            <input type="text" class="form-control" id="floatingName" placeholder="First Name"
              formControlName="firstName"
              [ngClass]="{'is-invalid': signupForm.get('firstName')?.errors?.['required'] && submitted}"
              [ngClass]="{'is-valid': signupForm.get('firstName')?.valid}">
            <label for="floatingName"> First Name </label>
            <small class="text-danger" *ngIf="
                    signupForm.get('firstName')?.invalid &&
                    submitted
                  ">
              Name is required.
            </small>
          </div>
          <!--Last Name-->
          <div class="form-floating py-3">
            <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name"
              formControlName="lastName"
              [ngClass]="{'is-invalid': signupForm.get('lastName')?.errors?.['required'] && submitted}"
              [ngClass]="{'is-valid': signupForm.get('lastName')?.valid}">
            <label for="floatingLastName"> Last Name </label>
            <small class="text-danger" *ngIf="
                    signupForm.get('lastName')?.invalid &&
                    submitted
                  ">
              Last Name is required.
            </small>
          </div>
          <!--Email-->
          <div class="form-floating py-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
              formControlName="email"
              [ngClass]="{'is-invalid' : signupForm.get('email')?.errors?.['email'] || signupForm.get('email')?.errors?.['required'] && submitted}"
              [ngClass]="{'is-valid': signupForm.get('email')?.valid}">
            <label for="floatingEmail"> Email </label>
            <small class="text-danger" *ngIf="
                    signupForm.get('email')?.errors?.['email'] &&
                    submitted
                  ">
              Email not valid.
            </small>
            <small class="text-danger" *ngIf="
                    signupForm.get('email')?.errors?.['required'] &&
                    submitted
                  ">
              Email required.
            </small>
          </div>
          <!--Password-->
          <div class="form-floating d-flex align-items-center py-3">
            <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="password" [ngClass]="{'is-invalid' : signupForm.get('password')?.invalid && submitted}"
              [ngClass]="{'is-valid' : signupForm.get('password')?.valid}">
            <label for="floatingPassword"> Password </label>
            <button type="button" class="btn" (click)="hidePassword = !hidePassword">
              <i class="bi" [ngClass]="{'bi-eye-slash': !hidePassword, 'bi-eye': hidePassword}"></i>
            </button>
          </div>
          <small class="text-danger p-0 m-0" *ngIf="
                    signupForm.get('password')?.invalid &&
                    submitted
                  ">
              Password must be at least 6 characters.
            </small>
          <!--Confirm Password-->
          <div class="form-floating py-3">
            <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password"
              formControlName="confirmPassword"
              [ngClass]="{'is-invalid': !signupForm.get('confirmPassword')?.errors?.['passwordsNotMatching'] && submitted}"
              [ngClass]="{'is-valid': signupForm.get('confirmPassword')?.valid && submitted}">
            <label for="floatingConfirmPassword"> Confirm Password </label>
            <small class="text-danger" *ngIf="
                    signupForm.errors?.['passwordsNotMatching'] &&
                    submitted
                  ">
              Passwords don't match.
            </small>
          </div>
          <!--Terms Checkbox-->
          <div class="form-check py-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="agreeTerms">
            <label class="form-check-label" for="flexCheckDefault">
              I agree to the<a class="terms" href=""> terms</a> and <a class="terms">conditions.</a>
            </label>
            <small class="text-danger" *ngIf="
                      signupForm.get('agreeTerms')?.invalid &&
                      (signupForm.get('agreeTerms')?.touched ||
                        signupForm.get('agreeTerms')?.dirty)
                    "><br>
              You must accept Terms and Conditions.
            </small>
          </div>
          <!--Submit Button-->
          <div class="btn-container py-3">
            <button type="submit" class="btn submit-btn">Create Account</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 right-container">
      <div class="right-content m-2">
        <h2 class="title">Welcome to Angular</h2>
        <p class="description">
          Enter your personal details and start your journey with us.
        </p>
      </div>
    </div>
  </div>
</div>
