::ng-deep html{
  overflow: hidden;
}
.section{
  padding-top: 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3cpath d='M-117.81 43.14 a160.95 160.95 0 1 0 321.9 0 a160.95 160.95 0 1 0 -321.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-53.5 -21.17 a32.33 32.33 0 1 0 64.66 0 a32.33 32.33 0 1 0 -64.66 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-101.34 26.68 a128.02 128.02 0 1 0 256.04 0 a128.02 128.02 0 1 0 -256.04 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1469.138%2c283.863C1522.764%2c282.342%2c1579.252%2c266.636%2c1604.786%2c219.454C1629.453%2c173.875%2c1608.243%2c120.657%2c1581.482%2c76.275C1555.846%2c33.758%2c1518.782%2c-4.896%2c1469.138%2c-5.519C1418.623%2c-6.153%2c1379.097%2c30.883%2c1351.799%2c73.392C1321.393%2c120.742%2c1292.07%2c178.398%2c1319.471%2c227.548C1347.291%2c277.448%2c1412.03%2c285.483%2c1469.138%2c283.863' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1415.279%2c185.841C1451.397%2c185.485%2c1485.715%2c169.627%2c1504.878%2c139.009C1525.296%2c106.386%2c1531.031%2c64.889%2c1511.868%2c31.513C1492.637%2c-1.982%2c1453.882%2c-18.27%2c1415.279%2c-17.043C1378.793%2c-15.883%2c1347.26%2c5.859%2c1328.773%2c37.335C1310.018%2c69.267%2c1303.926%2c108.806%2c1322.566%2c140.806C1341.101%2c172.625%2c1378.457%2c186.204%2c1415.279%2c185.841' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1206.07 47.25 a169.18 169.18 0 1 0 338.36 0 a169.18 169.18 0 1 0 -338.36 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-56.22 429.56 a37.78 37.78 0 1 0 75.56 0 a37.78 37.78 0 1 0 -75.56 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M74.884%2c607.961C105.02%2c606.656%2c131.004%2c590.067%2c147.43%2c564.768C165.763%2c536.531%2c177.905%2c502.175%2c163.241%2c471.871C146.876%2c438.052%2c112.444%2c415.731%2c74.884%2c414.85C35.82%2c413.934%2c-2.44%2c433.142%2c-20.953%2c467.553C-38.666%2c500.477%2c-30.502%2c540.681%2c-9.425%2c571.56C9.071%2c598.658%2c42.107%2c609.38%2c74.884%2c607.961' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M74.472%2c624.429C112.185%2c626.179%2c152.049%2c610.775%2c168.901%2c576.991C184.606%2c545.507%2c165.196%2c510.655%2c145.9%2c481.234C129.014%2c455.487%2c105.158%2c435.545%2c74.472%2c433.012C38.403%2c430.035%2c-2.36%2c436.325%2c-20.788%2c467.474C-39.432%2c498.989%2c-24.907%2c537.577%2c-5.909%2c568.88C12.203%2c598.722%2c39.602%2c622.811%2c74.472%2c624.429' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1284.76 416.57 a11.81 11.81 0 1 0 23.62 0 a11.81 11.81 0 1 0 -23.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1348.027%2c510.84C1365.372%2c511.675%2c1384.656%2c509.217%2c1393.782%2c494.443C1403.239%2c479.134%2c1398.846%2c459.441%2c1389.136%2c444.292C1380.216%2c430.374%2c1364.555%2c423.362%2c1348.027%2c423.055C1330.863%2c422.736%2c1312.737%2c427.83%2c1304.18%2c442.712C1295.643%2c457.56%2c1300.049%2c475.973%2c1309.318%2c490.375C1317.784%2c503.529%2c1332.402%2c510.087%2c1348.027%2c510.84' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1266.71 434.63 a47.92 47.92 0 1 0 95.84 0 a47.92 47.92 0 1 0 -95.84 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card{
  flex-wrap: wrap;
  width: 500px;
  border: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  margin-top: 8rem;

}
.title{
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.redirect{
  font-size: 15px;
  font-weight: 400;
}
.goto{
  font-size: 14px;
  font-weight: 400;
  a{
    text-decoration: none;
    font-weight: 400;
  }
}
.card-body{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 50px;
}
.icon-container{
  margin: 25px;
}
.logo-picture{
  width: 50px;
}
