.card{
  height: 100%;
}

.chart-card{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 100%;
  max-width: 100%;
  border: 0;
}
.progress-card{
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.chart{
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress{
  height: 8px;
}
.progress-bar{
  height: 8px!important;
  border-radius: 10px;
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.3);
}
.count{
  margin-bottom: 1rem !important;
  font-size: 35px;
  font-weight: 400;
}
.task-type{
  font-size: 20px;
  font-weight: 300;
}
