<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body w-100">
        <div class="chart">
          <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [labels]="chartOptions.labels"
            [title]="chartOptions.title!" [theme]="chartOptions.theme!" [fill]="chartOptions.fill!"
            [yaxis]="chartOptions.yaxis!" [stroke]="chartOptions.stroke!" [legend]="chartOptions.legend!"
            [responsive]="chartOptions.responsive!" [plotOptions]="chartOptions.plotOptions!"></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6"></div>
</div>
