.card{
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  border: 0;
  border-radius: 15px;

}

.chart-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.chart{
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress{
  height: 8px;
}
.progress-bar{
  height: 8px!important;
  border-radius: 10px;
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.3);
  transition: width 2s ease-in-out;
}
.count{
  margin-bottom: 1rem !important;
  font-size: 35px;
  font-weight: 400;
}
.task-type{
  font-size: 20px;
  font-weight: 300;
}
.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}
