.section{
  background-position: center;
  background-size: cover;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3cpath d='M7.53 352.42 a161.09 161.09 0 1 0 322.18 0 a161.09 161.09 0 1 0 -322.18 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M217.73 161.32 a118.04 118.04 0 1 0 236.08 0 a118.04 118.04 0 1 0 -236.08 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M387.174%2c724.629C433.735%2c727.715%2c484.397%2c713.828%2c507.196%2c673.114C529.641%2c633.032%2c510.208%2c585.831%2c487.147%2c546.1C464.209%2c506.581%2c432.862%2c467.009%2c387.174%2c466.331C340.647%2c465.64%2c302.57%2c501.352%2c281.926%2c543.054C263.506%2c580.263%2c271.051%2c622.921%2c291.872%2c658.842C312.62%2c694.637%2c345.892%2c721.893%2c387.174%2c724.629' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1419.805%2c171.901C1442.074%2c172.478%2c1465.716%2c166.25%2c1476.984%2c147.034C1488.354%2c127.645%2c1481.609%2c104.273%2c1471.12%2c84.394C1459.661%2c62.676%2c1444.296%2c40.45%2c1419.805%2c38.665C1392.77%2c36.694%2c1365.69%2c51.541%2c1353.659%2c75.832C1342.598%2c98.166%2c1353.403%2c123.67%2c1367.537%2c144.198C1379.522%2c161.605%2c1398.678%2c171.354%2c1419.805%2c171.901' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M964.32 479.57 a175.63 175.63 0 1 0 351.26 0 a175.63 175.63 0 1 0 -351.26 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-42.25 142.22 a159.5 159.5 0 1 0 319 0 a159.5 159.5 0 1 0 -319 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M571.76 29.5 a156.69 156.69 0 1 0 313.38 0 a156.69 156.69 0 1 0 -313.38 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  border: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}
.card-header{
  background-color: #fff;
  border-bottom: 0;
}
.logo-picture{
  width: 50px;
}
.title{
  font-size: 20px;
  font-weight: 600;
  margin: 0;

}
.title-2{
  font-size: 15px;
  font-weight: 400;
}
.sign-in, .terms{
  text-decoration: none;
}
.form-control{
  box-shadow: none;
  padding: 10px;
}
.input-group:focus-within .form-control {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  outline: 0;
  border-color: #02304784;
}
.form-check-input{
  box-shadow: none;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  margin-left: 5px;
  font-weight: 400;
}
.submit-btn{
  font-weight: 500;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: #023047;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform .3s ease-in-out;
}
.submit-btn:hover{
  transform: scale(1.05);
}
.submit-btn:active{
  box-shadow: none;
  background-color: #023047;
  color: #fff;
}
.input-group-text{
  padding: 0;
}
.btn i{
  color: #023047;
  font-size: 16px;
}
.btn:hover{
  transform: none;
}
.google-icon{
  width: 30px;
  height: auto;
}
.button{
  display: flex;
  align-items: center;
  gap: 10px;
}
.button i{
  font-size: 30px;
}
.socials-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
::ng-deep .p-divider small{
  font-weight: 400;
}
