.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  flex-wrap: wrap;
  width: 400px;
  max-width: 500px;
  border: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}
.card-header{
  background-color: #fff;
  border-bottom: 0;
}
.logo-picture{
  width: 50px;
}
.title{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.title-2{
  font-size: 15px;
}
.sign-in, .terms{
  text-decoration: none;
}
.form-control{
  box-shadow: none;
}
.form-control:focus{
  box-shadow: none !important;
  outline: 0;
  border: 1px solid #1a322f;
}
.form-check-input{
  box-shadow: none;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn{
  font-weight: 500;
  width: 200px;
  padding: 8px;
  border-radius: 20px;
  background-color: #1a322f;
  color: #ded7cf;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform .3s ease-in-out;
}
.submit-btn:hover{
  transform: translateY(-3px);
}
.submit-btn:active{
  box-shadow: none;
  background-color: #1a322f;
  color: #ded7cf;
}
