.section{
  padding-top: 0;
  overflow: hidden;
  max-height: 91.87vh !important;
  min-height: 91.87vh !important;

}
.user-container .img-container .profile-picture{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.messages-container{
  margin: 0;
}
.user-name{
  color: #023047;
  font-weight: 500;
}
.email{
  font-weight: 400;
}
.title{
  font-size: 30px;
  font-weight: 500;
  color: #023047;
}
.selected{
  border-left: 3px solid #023047;
  border-radius: 0 10px 10px 0 !important;

}
.unreaded, .readed{
  padding: 10px;
  border-radius: 50%;
}
.msg-info{
  margin-left: 20.5px;
}
.list-container {
  h3 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #023047;
  }
  small {
    font-size: 12px;
    font-weight: 400;
  }
  i {
    font-size: 18px;
  }
}
.list-unstyled {
  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 13px;
    border-radius: 10px;
    position: relative;
    color: #2b2621;
    cursor: pointer;
    margin: 5px 0 5px;
  }
  .nav-item:hover {
    background-color: rgba(146, 126, 99, 0.3);
    color: #000;
  }
  a {
    text-decoration: none;
    color: #2b2621;
  }
}
.active{
  background-color: rgba(146, 126, 99, 0.3);
  color: #000;

}
.compose-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #023047;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  transition: transform 0.3s ease;
  i{
    color: #fff !important;
  }
}
.compose-btn:hover{
  transform: scale(1.05);
}
.compose-btn:active, .compose-btn:focus{
  transform: none;
  background-color: #023047;
  color: #fff;
}
.sidebar{
  overflow: auto;
  overflow-x: hidden;
  max-height: 99vh;
}
.msg-container{
  max-height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}

.input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  transition: font-size 0.3s ease;
}

.filter-input {
  padding-left: 30px; /* Espacio para el ícono */
  background-color: #fff;
  border: 0;
  width: 0; /* Inicialmente oculto */
  overflow: hidden; /* Para ocultar completamente el input */
  transition: width .5s ease, background-color .5s ease; /* Transición suave al mostrar */
}
.input-container:focus-within .filter-input {
  width: 100%;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 0;
  background-color: #fff;
}
.input-container:focus-within .search-icon {
  font-size: 14px;
}
.title-box {
  position: relative;
  transition: transform .5s ease, opacity 0.5s ease, visibility .5s ease;
  opacity: 1;
  visibility: visible;
}

.input-container:focus-within ~ .title-box {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
}
.col-12{
  cursor: pointer;
  border-radius: 10px;
}
.col-12:hover, .col-12:focus{
  background-color: rgba(26, 50, 47, 0.1);
}
.user .title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.msg-container .msg-content p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}
.btn i{
  color: black;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff9f31ba;
}
.profile-picture{
  width: 50px;
  min-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.dropdown-menu{
  margin-top: 2rem !important;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  animation: growDown 0.3s ease-in-out forwards;
  transform-origin: top center;
}
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
.dropdown-item:active{
  background-color: #fff;
  color: #000;
}
.form-check-input{
  border: 1px solid #023047;
}
.form-check-input:focus, .form-check-input:active{
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none;
}
.message{
  max-height: 50vh;
  overflow: auto;
}
.msg-title .title{
  font-size: clamp(1rem, 1.6rem, 1.6rem);
  font-weight: 400;
}
.tags{
  display: flex;
  flex-wrap: wrap;
}
.text-warning{
  color: #d6975a !important;

}
.tags .bg-primary,.tags .bg-danger,.tags .bg-warning,.tags .bg-success, .tags .bg-info{
  --bs-bg-opacity: 0.2;
}
.badge{
  padding: 8px 15px !important;
}
.rounded-pill{
  border-radius: 10px !important;
}
.card-body span{
  padding: 6px 0 6px 0;
  font-weight: 400;
  font-size: 14px;
}
.card-body strong{
  font-weight: 600;
}
.card-body small{
  font-weight: 400;
}
.star{
  color: rgb(255, 179, 0) !important;
}
.important{
  color: #dc3545 !important;
}
.card-body .btn:hover{
  transform: none;
  background-color: rgba(26, 50, 47, 0.1);
}
.arrow-btn:hover{
  background-color: transparent !important;
}
.card{

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

::ng-deep .custom-sidebar .p-sidebar{
  background-color: #f1f1f1 !important;
  overflow: hidden !important;
  height: 120% !important;
}
.cancel-btn{
  border: 1px solid;
}
.submit-btn{
  background-color: #023047;
  color: #fff;
}
.btn:hover{
  transform: none;
}


@media (min-width: 764px) and (max-width: 955px){
  .compose-btn{
    font-size: clamp(10px, 14px, 14px);
    padding: 8px 20px;
  }
}
@media (max-width: 764px){
  .col-sm-12{
    width: 100%;
  }
  .msg-container{
    max-height: 20vh;
    overflow: auto;
    overflow-x: hidden;
  }
  .section{
    min-height: 100% !important;
    max-height: 100% !important;
  }
}
@media (max-width: 1650px){
  .user-container{
    flex-direction: column;
    align-items: center;
  }
  .user-container .img-container{
    margin-bottom: 20px;
    .profile-picture{
      width: 100px;
      min-height: 100px;
    }
  }
  .user-container .user-info{
    text-align: center;
    .email{
      font-size: clamp(8px, 10px, 10px);
    }
  }
}
