<section class="section">
  <div class="container-fluid">

    <!-- SideBar -->
    <p-sidebar class="custom-sidebar" [modal]="false" styleClass="w-30rem"
      [visible]="sidebarVisible">
      <ng-template pTemplate="headless">

        <div class=" sidebar m-3">
          <button type="button" class="mt-3 btn text-dark text-start" (click)="sidebarVisible = false"><i
              class="bi bi-x"></i></button>
          <div class="user-container d-flex justify-content-center align-items-center mt-4">
            <div class=" img-container">
              <img loading="lazy" class="profile-picture" src="../../../assets/profile-pictures/profile-picture.webp" alt="Profile Picture">
            </div>
            <div class=" user-info">
              <h1 class="user-name mb-0"> Javier Martínez </h1>
              <small class="email text-muted">javiermartinez&commat;lucentialab.es</small>
            </div>
          </div>
          <div class="btn-container  d-flex justify-content-center">
            <button (click)="toggleShowCompose()" class="btn compose-btn m-4"><i class="me-1 bi bi-plus"></i> Compose
            </button>
          </div>
          <p-dialog [modal]="true" [closable]="false" header="Compose Email" [draggable]="false" [visible]="showCompose"
            [style]="{width: '50vw'}">
            <form [formGroup]="composeForm" (ngSubmit)="confirmSend($event)">
              <div class="form-floating mt-3 mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingEmail"
                  placeholder="name@example.com"
                  [ngClass]="{'is-invalid' : composeForm.get('email')?.errors?.['email'] || composeForm.get('email')?.errors?.['required'] && submitted}"
                  [ngClass]="{'is-valid': composeForm.get('email')?.valid}">
                <label for="floatingInput"> To </label>
                <small class="text-danger" *ngIf="
                composeForm.get('email')?.errors?.['email'] &&
                submitted
              ">
                  Email not valid.
                </small>
                <small class="text-danger" *ngIf="
                composeForm.get('email')?.errors?.['required'] &&
                submitted
              ">
                  Email required.
                </small>
              </div>
              <div class="form-floating mb-3">
                <input type="text" formControlName="title" class="form-control" id="floatingSubject"
                  placeholder="Subject" [ngClass]="{'is-invalid': composeForm.get('title')?.errors?.['required'] && submitted}"
                  [ngClass]="{'is-valid': composeForm.get('title')?.valid}">
                <label for="floatingPassword">Subject</label>
                <small class="text-danger" *ngIf="
                    composeForm.get('title')?.invalid &&
                    submitted
                  ">
                Subject is required.
              </small>
              </div>
              <app-email-compose-editor></app-email-compose-editor>
              <div class="btn-container d-flex gap-3 mt-3">
                <button type="submit" class="btn submit-btn"> Send </button>
                <button (click)="confirmDraft($event)" type="button" class="btn btn-outline-danger cancel-btn"> Cancel </button>
              </div>
            </form>
          </p-dialog>
          <div class="list-container">
            <div>
              <h3> Mailboxes </h3>
            </div>
            <ul class="list-unstyled mt-4">
              <li class="nav-item d-flex flex-row justify-content-between align-items-center" role="button"
                [ngClass]="{'active': showInbox}" (click)="toggleShowInbox()">
                <div class="left-container d-flex align-items-center">
                  <i class="me-3 bi bi-inbox"></i> Inbox
                  <span *ngIf="unreadedCount > 0" class=" ms-3 badge bg-danger rounded-pill"> {{unreadedCount}} </span>
                </div>
                <div class="right-container text-end">
                  <span>{{mails.length}}</span>
                </div>
              </li>
              <li [ngClass]="{'active': showSent}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowSent()">
                <span><i class="me-3 bi bi-send"></i> Sent </span>
                <span *ngIf="sentMails.length > 0"> {{sentMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showDraft}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowDraft()">
                <span><i class="me-3 bi bi-archive"></i> Draft </span>
                <span *ngIf="draftMails.length > 0"> {{draftMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showSpam}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowSpam()">
                <span><i class="me-3 bi bi-exclamation-triangle"></i> Spam </span>
                <span *ngIf="spamMails.length > 0"> {{spamMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showTrash}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowTrash()">
                <span><i class="me-3 bi bi-trash3"></i> Trash </span>
                <span *ngIf="trashMails.length > 0"> {{trashMails.length}}</span>
              </li>
            </ul>
          </div>
          <div class="list-container">
            <div class="title">
              <h3> Filters </h3>
            </div>
            <ul class="list-unstyled mt-4">
              <li [ngClass]="{'active': showStarred}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowStarred()">
                <span><i class="me-3 bi bi-star"></i> Starred </span>
                <span> {{starredMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showImportant}"
                class="nav-item d-flex flex-row justify-content-between align-items-center"
                (click)="toggleShowImportant()">
                <span><i class="me-3 bi bi-exclamation-circle"></i> Important </span>
                <span *ngIf="importantMails.length > 0"> {{importantMails.length}}</span>
              </li>
            </ul>
          </div>
          <div class="list-container">
            <div>
              <h3> Labels </h3>
            </div>
            <ul class="list-unstyled mt-4">
              <li [ngClass]="{'active': showSocial}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowSocial()">
                <span><i class="me-3 bi bi-tag text-info"></i> Social </span>
                <span *ngIf="socialMails.length > 0"> {{socialMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showPersonal}"
                class="nav-item d-flex flex-row justify-content-between align-items-center"
                (click)="toggleShowPersonal()">
                <span><i class="me-3 bi bi-tag text-primary"></i> Personal </span>
                <span *ngIf="personalMails.length > 0"> {{personalMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showPromotions}"
                class="nav-item d-flex flex-row justify-content-between align-items-center"
                (click)="toggleShowPromotions()">
                <span><i class="me-3 bi bi-tag text-success"></i> Promotions </span>
                <span *ngIf="promotionsMails.length > 0"> {{promotionsMails.length}}</span>
              </li>
              <li [ngClass]="{'active': showForums}"
                class="nav-item d-flex flex-row justify-content-between align-items-center" (click)="toggleShowForums()">
                <span><i class="me-3 bi bi-tag text-warning"></i> Forums </span>
                <span *ngIf="forumsMails.length > 0"> {{forumsMails.length}}</span>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </p-sidebar>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="card mt-2">
          <div class="card-body">
            <!-- SearchBar -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="input-container">
                <label for="searchInput" class="search-icon">
                  <i class="bi bi-search"></i>
                </label>
                <input pInputText type="text" id="searchInput" class="filter-input form-control"
                  placeholder="Search keyword" />
              </div>
              <div *ngIf="showInbox" class="title-box text-center">
                <h2 class="mb-0"> Inbox </h2>
                <small class="text-muted">{{mails.length}} Messages · {{unreadedCount}} Unread</small>
              </div>
              <div *ngIf="showSent" class="title-box text-center">
                <h2 class="mb-0"> Sent </h2>
                <small class="text-muted">{{sentMails.length}} Messages </small>
              </div>
              <div *ngIf="showDraft" class="title-box text-center">
                <h2 class="mb-0"> Draft </h2>
                <small class="text-muted">{{draftMails.length}} Messages </small>
              </div>
              <div *ngIf="showSpam" class="title-box text-center">
                <h2 class="mb-0"> Spam </h2>
                <small class="text-muted">{{spamMails.length}} Messages</small>
              </div>
              <div *ngIf="showTrash" class="title-box text-center">
                <h2 class="mb-0"> Trash </h2>
                <small class="text-muted">{{trashMails.length}} Messages</small>
              </div>
              <div *ngIf="showStarred" class="title-box text-center">
                <h2 class="mb-0"> Starred </h2>
                <small class="text-muted">{{starredMails.length}} Messages</small>
              </div>
              <div *ngIf="showImportant" class="title-box text-center">
                <h2 class="mb-0"> Important </h2>
                <small class="text-muted">{{importantMails.length}} Messages</small>
              </div>
              <div *ngIf="showSocial" class="title-box text-center">
                <h2 class="mb-0"> Social </h2>
                <small class="text-muted">{{socialMails.length}} Messages</small>
              </div>
              <div *ngIf="showPersonal" class="title-box text-center">
                <h2 class="mb-0"> Personal </h2>
                <small class="text-muted">{{personalMails.length}} Messages</small>
              </div>
              <div *ngIf="showPromotions" class="title-box text-center">
                <h2 class="mb-0"> Promotions </h2>
                <small class="text-muted">{{promotionsMails.length}} Messages</small>
              </div>
              <div *ngIf="showForums" class="title-box text-center">
                <h2 class="mb-0"> Forums </h2>
                <small class="text-muted">{{forumsMails.length}} Messages</small>
              </div>

              <div>
                <button type="button" class="btn" (click)="sidebarVisible=true"><i class="bi bi-list"></i></button>
                <button (click)="markAllAsRead()" [disabled]="unreadedCount === 0" type="button" class="btn"><i
                    class="bi" [ngClass]="{
                  'bi-envelope-open': unreadedCount > 0,
                  'bi-envelope': unreadedCount === 0
                }"></i></button>
              </div>
            </div>

            <div class="msg-container mt-4">

              <!-- Inbox -->
              <div *ngIf="showInbox" class="row messages-container w-100">
                <div *ngFor="let mail of mails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-3 mb-1">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <small class="text-muted text-end date"> {{mail.timestamp}} </small>
                    </div>
                  </div>
                  <div class="msg-info">
                    <div class="msg-title">
                      <h4> {{mail.sender}} </h4>
                    </div>
                    <div class="msg-content">
                      <p> {{mail.message}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Sent -->
              <div *ngIf="showSent" class="row messages-container w-100">
                <div *ngFor="let mail of sentMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <h2 class="mb-1 title" style="max-width: 220px;"> {{mail.title}} </h2>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-3 mb-1">
                      <small class="text-muted text-end date"> {{mail.timestamp}} </small>
                    </div>
                  </div>
                  <div class="msg-info m-0">
                    <div class="msg-title">
                      <h4> {{mail.sender}} </h4>
                    </div>
                    <div class="msg-content">
                      <p> {{mail.message}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Draft -->
              <div *ngIf="showDraft" class="row messages-container w-100">
                <div *ngFor="let mail of draftMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-3 mb-1">
                      <small class="text-muted text-end date"> {{mail.timestamp}} </small>
                    </div>
                  </div>
                  <div class="msg-info">
                    <div class="msg-title">
                      <h4> {{mail.sender}} </h4>
                    </div>
                    <div class="msg-content">
                      <p> {{mail.message}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Spam -->
              <div *ngIf="showSpam" class="row messages-container w-100">
                <div *ngFor="let mail of spamMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>

              <!-- Trash -->
              <div *ngIf="showTrash" class="row messages-container w-100">
                <div *ngFor="let mail of trashMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>



              <!-- Filters -->
              <div *ngIf="showStarred" class="row messages-container w-100">
                <div *ngFor="let mail of starredMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>
              <div *ngIf="showImportant" class="row messages-container w-100">
                <div *ngFor="let mail of importantMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>

              <!-- Labels -->
              <div *ngIf="showSocial" class="row messages-container w-100">
                <div *ngFor="let mail of socialMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>
              <div *ngIf="showPersonal" class="row messages-container w-100">
                <div *ngFor="let mail of personalMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>
              <div *ngIf="showPromotions" class="row messages-container w-100">
                <div *ngFor="let mail of promotionsMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>
              <div *ngIf="showForums" class="row messages-container w-100">
                <div *ngFor="let mail of forumsMails" class="col-12 py-3 pe-3" (click)="selectMail(mail)"
                  [class.selected]="selectedMail === mail">
                  <div class="user d-flex justify-content-between align-items-center">
                    <div class="read-badge d-flex gap-1 justify-content-center align-items-center">
                      <button *ngIf="!mail.readed" (click)="markAsRead()" type="button" class="btn unreaded"
                        [pTooltip]="'Mark as read'" tooltipPosition="bottom"><span pBadge
                          style="font-size: 2px;"></span></button>
                      <button (click)="markAsUnread()" *ngIf="mail.readed" type="button" class="btn readed"
                        [pTooltip]="'Mark as unread'" tooltipPosition="bottom"><span pBadge style="font-size: 2px;"
                          severity="success"></span></button>
                      <h2 class="mb-1 title"> {{mail.title}} </h2>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                      <i *ngIf="mail.starred" class="bi bi-star-fill star"></i>
                      <i *ngIf="mail.important" class="bi bi-exclamation-circle important"></i>
                      <span class="text-muted date"> {{mail.timestamp}} </span>
                    </div>
                  </div>
                  <div class="msg-title">
                    <h4> {{mail.sender}} </h4>
                  </div>
                  <div class="msg-content">
                    <p> {{mail.message}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedMail" class="col-md-8">
        <div class="card msg-view mt-2">
          <div class="card-body m-3">

            <div class="btn-container dropdown d-flex justify-content-between mb-4">

              <div class="control-btn">
                <button (click)="selectPreviousMail()"
                  [disabled]="(showInbox && mails.indexOf(selectedMail) <= 0) || (showSpam && spamMails.indexOf(selectedMail) <= 0) || (showTrash && trashMails.indexOf(selectedMail) <= 0) || (showStarred && starredMails.indexOf(selectedMail) <= 0) || (showImportant && importantMails.indexOf(selectedMail) <= 0) || (showSocial && socialMails.indexOf(selectedMail) <= 0) || (showPersonal && personalMails.indexOf(selectedMail) <= 0) || (showPromotions && promotionsMails.indexOf(selectedMail) <= 0) || (showForums && forumsMails.indexOf(selectedMail) <= 0)"
                  type="button" class="btn" [pTooltip]="'Previous'" tooltipPosition="top"> <i
                    class="bi bi-chevron-left"></i> </button>
                <span *ngIf="showInbox">{{mails.indexOf(selectedMail) + 1}} of {{mails.length}}</span>
                <span *ngIf="showSpam">{{spamMails.indexOf(selectedMail) + 1}} of {{spamMails.length}}</span>
                <span *ngIf="showTrash">{{trashMails.indexOf(selectedMail) + 1}} of {{trashMails.length}}</span>
                <span *ngIf="showStarred">{{starredMails.indexOf(selectedMail) + 1}} of {{starredMails.length}}</span>
                <span *ngIf="showImportant">{{importantMails.indexOf(selectedMail) + 1}} of
                  {{importantMails.length}}</span>
                <span *ngIf="showSocial">{{socialMails.indexOf(selectedMail) + 1}} of {{socialMails.length}}</span>
                <span *ngIf="showPersonal">{{personalMails.indexOf(selectedMail) + 1}} of
                  {{personalMails.length}}</span>
                <span *ngIf="showPromotions">{{promotionsMails.indexOf(selectedMail) + 1}} of
                  {{promotionsMails.length}}</span>
                <span *ngIf="showForums">{{forumsMails.indexOf(selectedMail) + 1}} of {{forumsMails.length}}</span>
                <button (click)="selectNextMail()"
                  [disabled]="(showInbox && mails.indexOf(selectedMail) === (mails.length - 1)) || (showSpam && spamMails.indexOf(selectedMail) === (spamMails.length - 1)) || (showTrash && trashMails.indexOf(selectedMail) === (trashMails.length - 1)) || (showStarred && starredMails.indexOf(selectedMail) === (starredMails.length - 1)) || (showImportant && importantMails.indexOf(selectedMail) === (importantMails.length - 1)) || (showSocial && socialMails.indexOf(selectedMail) === (socialMails.length - 1)) || (showPersonal && personalMails.indexOf(selectedMail) === (personalMails.length - 1)) || (showPromotions && promotionsMails.indexOf(selectedMail) === (promotionsMails.length - 1)) || (showForums && forumsMails.indexOf(selectedMail) === (forumsMails.length - 1))"
                  type="button" class="btn" [pTooltip]="'Next'" tooltipPosition="top"> <i
                    class="bi bi-chevron-right"></i> </button>

              </div>
              <div class="btn-group">
                <button (click)="markAsImportant()" type="button" class="btn" [pTooltip]="'Important'"
                  tooltipPosition="top"> <i class="bi bi-exclamation-circle" [ngClass]="{
                    'text-danger': selectedMail.important
                  }"></i> </button>
                <button type="button" [pTooltip]="'Select Tags'" tooltipPosition="top" class="btn dropdown-toggle"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-tag"></i>
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let tag of tags" class="dropdown-item">
                    <div class="form-check">
                      <input (click)="updateMailTags(tag)" class="form-check-input" type="checkbox"
                        [(ngModel)]="tag.checked" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        {{tag.name}}
                      </label>
                    </div>
                  </li>
                </ul>
                <button (click)="printMail()" type="button" class="btn" [pTooltip]="'Print'" tooltipPosition="top"> <i
                    class="bi bi-printer"></i> </button>
                <button [disabled]="showTrash" (click)="markAsTrash()" (click)="confirmDelete($event)" type="button" class="btn"
                  [pTooltip]="'Delete'" tooltipPosition="top"> <i class="bi bi-trash3"></i> </button>
                <p-toast position="bottom-right"></p-toast>
                <p-confirmDialog></p-confirmDialog>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="message mt-4">
              <div class="user d-flex align-items-center">
                <div class="img-container">
                  <img loading="lazy" class="profile-picture" src="../../../assets/profile-pictures/profile-picture.webp" alt="Profile Picture">
                </div>
                <div class="user-info w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mb-0">{{selectedMail?.sender}}</h1>
                    <span class="text-muted"> {{selectedMail?.timestamp}} </span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <span>To: {{selectedMail?.receiver}}
                      <small *ngIf="selectedMail.receiver2 && !selectedMail.receiver3">+1</small>
                      <small *ngIf="selectedMail.receiver2 && selectedMail.receiver3">+2</small>
                      <button class="btn arrow-btn" type="button" (click)="op.toggle($event)"> <i
                          class="bi bi-chevron-down"></i> </button>
                    </span>
                    <div class="btn-container">
                      <button (click)="markAsStarred()" class="btn" type="button" [pTooltip]="'Starred'"
                        tooltipPosition="top"> <i class="bi star" [ngClass]="{
                        'bi-star-fill': selectedMail.starred,
                        'bi-star': !selectedMail.starred
                      }"></i> </button>
                      <button class="btn" type="button" [pTooltip]="'Reply'" tooltipPosition="top"> <i
                          class="bi bi-reply"></i> </button>
                      <button class="btn" type="button" [pTooltip]="'Reply All'" tooltipPosition="top"> <i
                          class="bi bi-reply-all"></i> </button>
                      <button (click)="markAsSpam()" class="btn" type="button" [pTooltip]="'Spam'"
                        tooltipPosition="top"> <i class="bi bi-exclamation-triangle"
                          [ngClass]="{'text-danger': selectedMail.spam}"></i> </button>
                    </div>
                  </div>

                  <p-overlayPanel #op [dismissable]="true">
                    <div class="card">
                      <div class="card-body d-flex flex-column">
                        <span> <strong> from: </strong> {{selectedMail?.sender}} <small>
                            <{{selectedMail?.email}}>
                          </small> </span>
                        <span> <strong> to: </strong> {{selectedMail?.receiver}} <small>
                            <{{selectedMail?.receiverEmail}}>
                          </small></span>
                        <span *ngIf="selectedMail.receiver2"> <strong> cc: </strong> {{selectedMail?.receiver2}} <small>
                            <{{selectedMail?.receiverEmail2}}>
                          </small></span>
                        <span *ngIf="selectedMail.receiver3"> <strong> bcc: </strong> {{selectedMail?.receiver3}}
                          <small>
                            <{{selectedMail?.receiverEmail3}}>
                          </small></span>
                        <span> <strong> date: </strong> {{selectedMail?.timestamp}} </span>
                        <span> <strong> subject: </strong> {{selectedMail?.title}}</span>
                      </div>
                    </div>
                  </p-overlayPanel>

                </div>
              </div>
              <div class="msg-content">
                <div>
                  <div>
                    <div class="tags d-flex justify-content-end gap-2">
                      <span *ngFor="let tag of selectedMail?.tags">
                        <span class="badge rounded-pill p-2" [ngClass]="{
                            'bg-success text-success': tag === 'Promotions',
                            'bg-info text-info': tag=== 'Social',
                            'bg-warning text-warning': tag === 'Forums',
                            'bg-primary text-primary': tag === 'Personal',
                          }">{{tag}}</span>
                      </span>
                    </div>
                    <div class="msg-title d-flex justify-content-between align-items-center mt-4">
                      <h3 class="title"> {{selectedMail.title}} </h3>
                    </div>
                  </div>
                  <div>
                    {{selectedMail.message}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
