.section {
  padding-top: 4rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1840%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1847' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1847' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1840'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1845'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1844'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1841'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1842'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1843'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1846'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1847'%3e%3cuse xlink:href='%23SvgjsPath1841' x='30' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='30' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='30' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='30' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='30' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='30' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='30' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='30' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='30' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='30' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='90' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='90' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='90' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='90' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='90' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='90' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='90' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='90' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='90' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='90' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='150' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='150' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='150' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='150' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='150' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='150' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='150' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='150' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='150' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='150' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='210' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='210' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='210' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='210' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='270' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='270' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='270' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='270' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='270' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='270' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='270' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='270' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='270' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='270' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='330' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='330' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='330' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='330' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='330' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='330' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='330' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='330' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='330' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='330' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='390' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='390' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='390' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='390' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='390' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='450' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='450' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='450' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='450' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='450' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='450' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='450' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='450' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='450' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='450' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='510' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='510' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='510' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='510' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='510' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='510' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='510' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='510' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='510' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='510' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='570' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='570' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='570' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='570' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='570' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='570' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='570' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='570' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='570' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='570' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1844' x='630' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='630' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='630' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='630' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='630' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='630' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='630' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='630' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='630' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='630' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='690' y='30' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='690' y='90' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='690' y='150' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='690' y='210' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='690' y='270' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1846' x='690' y='330' stroke='rgba(75%2c 75%2c 223%2c 0.09)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1842' x='690' y='390' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1841' x='690' y='450' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1843' x='690' y='510' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1845' x='690' y='570' stroke='rgba(75%2c 75%2c 223%2c 0.09)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 40px;
  font-weight: 600;
  color: #4b4bdf;
}
.title span {
  font-size: 20px;
  font-weight: 400;
}
.title .badge {
  font-size: 14px;
  font-weight: 600;
  background-color: #4b4bdf;
  padding: 5px 15px;
}

.title .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #4b4bdf;
  padding: 5px 5px;
  gap: 10px;
}
.pricing-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 8px 14px;
}
.active {
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 14px;
  color: #000;
  font-weight: 600;
}
.plan-title{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}
.price{
  font-size: 40px;
  font-weight: 600;
  color: #4b4bdf;
}
.price small{
  font-size: 16px;
  font-weight: 400;
}
.button1 {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #4b4bdf;
  border: 2px solid #4b4bdf;
  border-radius: 34px;
  background-color: #fff;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.button1::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #4b4bdf;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.button1:hover::before {
  scale: 5.1;
}

.button1:hover {
  color: #fff;
  scale: 1.03;
  box-shadow: 0 0px 20px rgba(75, 75, 223, 0.4);
}

.button1:active {
  scale: 1.1;
}
.button2 {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #4b4bdf;
  border-radius: 34px;
  background-color: #4b4bdf;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button2::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.button2:hover::before {
  scale: 6;
}

.button2:hover {
  color: #4b4bdf;
  scale: 1.03;
  box-shadow: 0 0dvw 20px rgba(75, 75, 223, 0.4);
}

.button2:active {
  scale: 1.1;
}
.badge{
  font-size: 14px;
  font-weight: 600;
  background-color: #4b4bdf33;
  padding: 5px 15px;
  color: #4b4bdf;
}
::ng-deep .p-datatable-wrapper{
  border-radius: 15px;

}
::ng-deep th{
  min-width: 300px;
  max-width: 300px !important;
  width: 100%;
  border: 1px solid #4b4bdf33;
}
::ng-deep td{
  font-weight: 400;
  border: 1px solid #4b4bdf33;
}
.row-title{
  font-weight: 600;
}
.bg-title{
  background-color:#4b4bdf;
  color: #fff;
  text-transform: uppercase;
  box-shadow: inset 0 5px 8px rgba(255, 255, 255, 0.2);
  border: 0 !important;
}
.bi-check2{
  color: #16A34A;
  font-size: 20px;
}
.card{
  border-radius: 15px;
  border: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
