<button class="btn" (click)="showDialog()"><i class="bi bi-search"></i></button>
<p-dialog #search [(visible)]="visible" position="top" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw', position: 'relative', top: '90px' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="headless">
    <input class="form-control" [ngClass]="{'list-active': listActive}" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()">
    <div class="list" *ngIf="filteredPages.length > 0">
      <ul class="list-unstyled">
        <li class="p-3" *ngFor="let page of filteredPages">
          <a (click)="showDialog()" class="py-2" [routerLink]="page.link">{{ page.name }}</a>
        </li>
      </ul>
    </div>
  </ng-template>
</p-dialog>
