.form-control{
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* Efecto de sombra */
  outline: none; /* Eliminar borde de enfoque */
  font-size: 25px;
  font-weight: 300;
  border: 1px solid #fff;
}
.form-control::placeholder{
  font-size: 25px;
  font-weight: 400;
  opacity: 70%;
}
.form-control:focus, .form-control:not(:focus){
  border: 0;
}
li:hover{
  background-color: #4b4bdf18;
}
a{
  text-decoration: none;
  color: #4b4bdf;
  font-weight: 500;
  font-size: 18px;
}
.list{
  background-color: #fff;
  box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.3); /* Efecto de sombra */
}
.list-active{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
