<section class="section">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <div class="icon-container py-3">
              <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
            </div>
            <div class="title-header  d-flex flex-column gap-2">
              <h2 class="title">Confirmation required</h2>
              <span class="title-2"> Please confirm your email address to continue.</span><br>
              <small>Return to <a class="redirect" href="/signin-classic">sign in</a></small>
            </div>
          </div>
        </div>
        <div class="col-md-6 right-container">
          <div class="right-content p-4">
            <h2 class="title mb-4">Welcome to<br> our community</h2>
            <p class="description">
              Enter your personal details and start your journey with us. Let's build a better community together!
            </p>
            <div class="users-container d-flex align-items-center gap-3 py-4">
              <div class="img-container">
                <img src="../../../../../assets/profile-pictures/profile-picture10.webp" alt="Profile Picture" class="user-img">
                <img src="../../../../../assets/profile-pictures/profile-picture9.webp" alt="Profile Picture" class="user-img">
                <img src="../../../../../assets/profile-pictures/profile-picture8.webp" alt="Profile Picture" class="user-img">
                <img src="../../../../../assets/profile-pictures/profile-picture7.webp" alt="Profile Picture" class="user-img">
              </div>
              <span>More than 17k people joined us, it's your turn</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
