<section class="section">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-6">
          <div class="card-body pt-0">
            <div class="icon-container">
              <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
            </div>
            <div class="title-header">
              <h2 class="title">Confirmation required</h2>
              <span class="title-2"> Please confirm your email address to continue.</span><br>
              <small>Return to <a class="redirect" href="/signin-classic">sign in</a></small>
            </div>
          </div>
        </div>
        <div class="col-6 right-container">
          <div class="right-content m-2">
            <h2 class="title">Welcome to Angular</h2>
            <p class="description">
              Enter your personal details and start your journey with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
