<section class="section">
  <div class="container">
    <h1> Need more information? </h1>
    <div class="cards-container">
      <div class="row">
        <div class="col-lg-4 px-5">
          <div class="card-big-shadow">
            <div class="card bg-info">
              <div class="card-body">
                <h3> BEST CARDS </h3>
                <h4> Blue Card </h4>
                <p> What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-5">
          <div class="card-big-shadow">
            <div class="card bg-success">
              <div class="card-body">
                <h3> BEST CARDS </h3>
                <h4> Green Card </h4>
                <p> What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-5">
          <div class="card-big-shadow">
            <div class="card bg-warning">
              <div class="card-body">
                <h3> BEST CARDS </h3>
                <h4> Yellow Card </h4>
                <p> What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
