.section {
  padding-top: 0;
}
.header-container {
  min-height: 280px;
  max-height: 400px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-container .button{
  position: absolute;
  top: -3rem;
  left: 1rem;
  transition: transform .5s ease;
}
.header-container:hover .button{
  transform: translateY(4rem);
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 3rem 3rem;
  background-color: #fff;
}
.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 20rem;
  margin-top: 2rem;
}
.img-container {
  position: absolute;
  top: -10%;
  left: 5%;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #fff;
}
.profile-picture {
  width: 100%;
  height: 100%;
  min-height: 200px;
  object-fit: cover;
  transition: filter .3s ease;
}
.profile-icon{
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3333331f;
  border-radius: 50%;
  padding: 4rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.img-container:hover .profile-icon{
  opacity: 1;
}
.img-container:hover .profile-picture{
  filter: blur(4px);
}
.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-info h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
}
.user-info .text-muted {
  font-size: 20px;
  font-weight: 400;
}

.socials-container {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.social-link {
  color: #333333;
  transition: transform 0.3s ease;
}
.right-container{
  max-width: 400px;
}
.skills-container {
  display: flex;
  justify-content: end;
  gap: 10px;
  flex-wrap: wrap;
}
.overview .badge {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  font-size: 60px;
  position: absolute;
  right: -10%;
  top: -10%;
  opacity: 0.2;
  z-index: 0;
}
.overview .title {
  z-index: 1;
}
.overview .card {
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}
.overview .card-body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}
.progress {
  height: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.progress-bar {
  height: 8px !important;
  border-radius: 10px;
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.3);
  transition: width 2s ease-in-out;
}
.item-container {
  margin: 40px 0;
  display: flex;
  justify-content: start;
  align-items: start;
}
.icon-container {
  font-size: 18px;
  i {
    color: #023047 !important;
  }
}
.info-container h4 {
  text-transform: uppercase !important;
  font-weight: 500;
  color: #023047 !important;
}
.section2{
  padding-top: 2rem;
}
.section2 .title-container h2{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
  color: #4b4bdf;
  margin-bottom: 2rem;
}
.tasks-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1024px){
  .profile-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .img-container{
    position: relative;
    top: 0;
    left: 45%;
  }
  .profile-info {
    margin-left: 0;
    margin-top: 0;
  }
  .skills-container{
    justify-content: start;
  }
  .right-container{
    position: relative;
    left: 55%;
    align-items: center;
  }
}
@media (max-width: 768px){
  .profile-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .img-container{
    position: relative;
    top: 0;
    left: 0;
  }
  .profile-info {
    margin-left: 0;
    margin-top: 0;
  }
}
