.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  border: 0;
  border-radius: 15px;
  height: 100%;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header h2 {
  font-size: 25px;
  font-weight: 500;
}

.g-3 {
  --bs-gutter-x: 2.1rem !important;
  --bs-gutter-y: 2.1rem !important;
}
.remaining .badge {
  opacity: 0.5;
}
.info .title {
  font-size: 16px;
}
.info .value {
  font-size: 16px;
  font-weight: 500;
}
.info .percent {
  font-size: 16px;
  font-weight: 400;
}
::ng-deep .apexcharts-datalabels-group :nth-child(1),
::ng-deep .apexcharts-datalabels-group :nth-child(2) {
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}
