.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023047;
  padding: 20px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  h3{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .btn i{
      color: #fff;
  }
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0px 6px rgba(0,0,0,0.1);
	border-radius: 14px;
	background-color: currentColor;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 14px;
	-webkit-box-shadow: inset 0 0px 6px rgba(0,0,0,0.1);
	background-color: #ff9f31;
}

::ng-deep .p-overlaypanel {
  border-radius: 10px;

}

.notifications{
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

.icon-container{
  display: flex;
  justify-content: center;
  padding-right: 0;
  i{
    font-size: 18px;
  }
}

.profile-picture{
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.notification-title{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification-content{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .message{
    font-size: 13px;
    font-weight: 400;
  }
  strong{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  .timestamp{
    font-size: 10px;
    font-weight: 400;
  }
}

.notification{
  text-decoration: none;
  color: currentColor;
  background-color: currentColor;
}


.remove-btn i{
  color: #ccc;
}
.remove-btn, .readed{
  opacity: 0;
}
.notification:hover .remove-btn{
  opacity: 1;
  transition: 0.2s;
}

.notification:hover .readed{
  opacity: 1;
  transition: 0.2s;
}

.unreaded, .readed{
  padding: 10px;
  border-radius: 50%;
}
::ng-deep .readed span.p-badge{
  background-color: lightgray !important;
}


.unreaded:hover{
  background-color: rgba(59, 130, 246, 0.4)!important;

}
.readed:hover {
  background-color: rgba(211, 211, 211, 0.4) !important;
}


.empty-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  i{
    font-size: 50px;
  }
  span{
    font-size: 18px;
    font-weight: 500;
  }
}
