<div class="container-fluid w-100">
  <div class="row w-100">
    <div class="px-5 col-md-4 d-flex justify-content-center" style="flex-direction:column;">
      <div class="body ">
        <div class="icon-container">
          <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
        </div>
        <div class="title-header">
          <h2 class="title">Coming Soon</h2>
          <span class="title-2"> </span><br>
        </div>
        <form>
          <div class="form-floating py-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
            <label for="floatingEmail"> Email </label>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 right-container">
      <div class="right-content m-2">
        <h2 class="title">Welcome to Angular</h2>
        <p class="description">
          Enter your personal details and start your journey with us.
        </p>
        <!-- Countdown Timer -->
      </div>
    </div>
  </div>
</div>
