<div class="card bg-dark text-white">
  <div class="header p-3">
    <h1 class="title mb-0">Realtime Analytics</h1>
  </div>
  <div class="card-body">
    <div class="chart">
      <apx-chart #chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [colors]="chartOptions.colors"
        [yaxis]="chartOptions.yaxis!" [grid]="chartOptions.grid!" [dataLabels]="chartOptions.dataLabels!" [markers]="chartOptions.markers!"
        [stroke]="chartOptions.stroke!" [xaxis]="chartOptions.xaxis!"
        [tooltip]="chartOptions.tooltip!"></apx-chart>

    </div>
  </div>
</div>
