<section class="section">
  <div  class="container d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-md-4">
        <div class="title" *ngIf="animateTitle" @titleAnimation>
          <h1> Our Team </h1>
          <p class="text-muted"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur
            perspiciatis sapiente ratione deserunt voluptatum dolores necessitatibus ullam, delectus.</p>
          <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias pariatur
            perspiciatis sapiente ratione
            deserunt voluptatum dolores necessitatibus ullam, delectus.</p>
        </div>
      </div>
      <div class="col-md-8 cards-container" *ngIf="animateCards" @cardsAnimation>
        <div class="row g-2">
          <div class="col-lg-4 col-md-6" *ngFor="let member of members | slice:1:7">
            <div  class="card">
              <div class="card-body p-0">
                <div class="img-container">
                  <img loading="lazy" [src]="member.imageUrl" [alt]="member.name" class="profile-picture">
                  <div class="user-container">
                    <h1 class="card-title mt-3"> {{ member.name }} </h1>
                    <h3 class="card-text"> {{ member.role }} </h3>
                  </div>
                </div>
                <div class="info-container p-4">
                  <div class="mb-2 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="mb-0"> {{member.name}} </h2>
                    <h1> {{member.role}} </h1>
                  </div>
                  <div class="row py-3 d-flex justify-content-between align-items-center">
                    <div class="col-md-6 d-flex align-items-center">
                      <i class="me-2 fas fa-atom"></i>
                      <h3 class="m-0"> Skills </h3>
                    </div>
                    <div class="col-md-6 text-end">
                      <h3 *ngFor="let skill of member.skills | slice:1:2" class="m-0">{{skill}}</h3>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row py-3 d-flex justify-content-between align-items-center">
                    <div class="col-md-6 d-flex align-items-center">
                      <i class="me-2 fa-regular fa-futbol"></i>
                      <h3 class="m-0"> Hobbies </h3>
                    </div>
                    <div class="col-md-6 text-end">
                      <h3 *ngFor="let hobby of member.hobbies | slice:0:2" class="m-0"> {{hobby}} </h3>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row py-3  d-flex justify-content-between align-items-center">
                    <div class="col-md-6 d-flex align-items-center">
                      <i class="me-2 bi bi-bar-chart"></i>
                      <h3 class="m-0"> Level </h3>
                    </div>
                    <div class="col-md-6">
                      <p-rating [(ngModel)]="member.level" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                  </div>
                  <div class="py-2 socials-container d-flex justify-content-evenly align-items-center">
                    <button type="button" class="btn social-link me-2"><i class="fab fa-github"></i></button>
                    <button type="button" class="btn social-link me-2"><i class="fab fa-linkedin"></i></button>
                    <button type="button" class="btn social-link me-2"><i class="fab fa-twitter"></i></button>
                    <button type="button" class="btn social-link me-2"><i class="fab fa-instagram"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
