<div class="card bg-dark text-white">
  <div class="card-body d-flex justify-content-evenly align-items-center">
    <div class="info">
      <h3 class="mb-0">Monthly Users</h3>
      <h1 class="balance">{{balance}}</h1>
    </div>
    <div class="chart">
      <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [responsive]="responsive" [dataLabels]="dataLabels"
      [yaxis]="yaxis" [grid]="grid" [markers]="markers" [stroke]="stroke" [tooltip]="tooltip" ></apx-chart>
    </div>
  </div>
</div>
