.text-html {
  color: #e65100;
}
.text-css {
  color: #0277bd;
}
.text-js {
  color: #ffd600;
}
.text-psd {
  color: #03a9f4;
}
.text-ai {
  color: #ff6d00;
}
.text-json {
  color: #4caf50;
}
::ng-deep html {
  overflow: hidden !important;
}
.section {
  padding: 0;
  overflow: hidden;
}
.sidebar {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  position: relative;
  height: 100%;
}
.sidebar .title {
  color: #023047;
  font-size: 1.8rem;
  font-weight: 600;
}
.sidebar .footer {
  position: relative;
  bottom: 0;
}
.logo {
  max-width: 50px;
  width: 100%;
}
.list-item {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  color: #4b4bdf;
}
.list-item small {
  font-weight: 500;
}
.list-item.active {
  background-color: #4b4bdf1d;
  border-radius: 8px;
}
.list-item a {
  text-decoration: none;
  color: #4b4bdf;
  font-weight: 400;
}
.profile-picture {
  max-width: 20px;
  border-radius: 50%;
  width: 100%;
}
.full-container {
  width: 100%;
}
.full-container {
  transition: width 0.3s ease-in-out;
}
.small-container .header .title-container {
  position: relative;
  left: 0;
  transform: none;
  transition: all 0.3s ease-in-out;
}
.file-manager-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.full-container .file-manager-container .header .title-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.file-manager-container .header .title {
  font-size: 2rem;
  font-weight: 600;
  color: #4b4bdf;
  margin: 0;
}
.file-manager-container .header .right-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.file-manager-container .filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  gap: 1rem;
}
.file-manager-container .filters-container .search-container {
  max-width: 800px;
  width: 100%;
}
.search-container .form-control {
  width: 100%;
  max-width: 800px;
  border-radius: 30px;
  padding: 16px;
}
.search-container .form-control:focus {
  border-color: #4b4bdf;
  outline: none;
  box-shadow: 0 0 -1px 0 #4b4bdf1c;
}
.file-manager-container {
  overflow: auto;
  max-height: 90vh;
  min-height: 90vh;
  overflow-x: visible !important;
}
.back-icon {
  font-size: 22px;
  color: #023047;
}
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.preview-img {
  max-width: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
::ng-deep .p-divider-content {
  position: relative;
  left: -20px;
  padding: 5px 20px;
  border-radius: 6px;
  background-color: #ddd;
  color: #023047;
  font-weight: 600;
}
.folders {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: auto;
}
.folder {
  position: relative;
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
}
.folder :nth-child(2) {
  top: 40%;
  font-size: 35px;
}
.folder span {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fd9928;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
.files {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  padding: 1rem;
  overflow: auto;
}
.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 160px;
}
.file-name {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.file i {
  font-size: 80px;
}
::ng-deep .p-contextmenu {
  padding: 0;
}
::ng-deep ul {
  padding: 0 !important;
  margin: 0 !important;
}
::ng-deep .p-menuitem-link {
  text-decoration: none !important;
  padding: 0.5rem 1.2rem !important;
}
::ng-deep .p-contextmenu .p-menuitem-icon,
::ng-deep .p-contextmenu .p-menuitem-text {
  color: #626262 !important;
}
.form-control {
  max-width: 150px;
  width: 100%;
}
.input-icon {
  font-size: 16px !important;
}
.btn:hover {
  transform: none;
}
.info-btn i {
  font-size: 22px;
  color: #4b4bdf !important;
}
.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.file-title {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  color: #023047;
}
.close-btn i {
  font-size: 30px;
}
.file-icon {
  font-size: 30px;
}
.details-body {
  overflow: auto;
  max-height: 60vh;
  padding-top: 1rem;
}
.details-row {
  padding: 0.8rem 0;
}
.details-row h3 {
  font-size: 0.95rem;
  font-weight: 600;
  color: #023047;
}
.details-row span {
  font-size: 0.9rem;
  color: #545454;
  font-weight: 400;
}
.dialog-container {
  max-width: 400px;
  width: 100%;
}
.dialog-container h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #023047;
}
.dialog-container .form-group {
  margin-bottom: 1rem;
}
::ng-deep .p-inputwrapper {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 30px;
}
::ng-deep .p-multiselect-close {
  display: none;
}
.multiselect-item {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  gap: 0.5rem;
  text-transform: capitalize;
}
.multiselect-item i {
  font-size: 20px;
}
.multiselect-item span {
  font-weight: 500;
}
::ng-deep .p-metergroup-labels {
  display: none;
}
.location-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 150px;
  width: 100%;
}
.view-toggler {
  max-width: fit-content;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 2px;
  background-color: #4b4bdf;
  border-radius: 30px;
}
.view-toggler .btn {
  padding: 5px 10px;
  border-radius: 30px;
  color: #fff;
}
.btn-active {
  background-color: #fff;
  color: #4b4bdf !important ;
  i {
    color: #4b4bdf;
  }
}
.dropdown-toggle:before {
  display: none;
}

::ng-deep .p-datatable-wrapper {
  min-height: 53vh;
  height: 100%;
}
th {
  font-weight: 600;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}
td {
  font-weight: 400;
  background: #f6f6f6 !important;
  border-bottom: 1px solid #ddd;
}
.dropstart {
  width: fit-content;
}
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.empty-container .search-img {
  max-width: 400px;
  width: 100%;
  object-fit: contain;
}
.empty-container i {
  font-size: 160px;
  color: #023047;
}
.empty-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #023047;
}
.dropdown-menu {
  padding: 0.5rem;
  border: 1px solid #4b4bdf2d;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
  padding: 1rem 0.8rem;
}
.dropdown-item:focus,
.dropdown-item:active {
  background-color: #4b4bdf1d;
  color: #4b4bdf;
}
.img-icon {
  max-width: 100px;
  width: 100%;
  object-fit: contain;
}
.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
::ng-deep .p-card {
  max-width: 180px;
  min-width: 180px;
  width: 100%;
}
.percentage-value {
  font-size: 1rem;
  font-weight: 500;
}
.item-label {
  font-size: 0.9rem;
  font-weight: 400;
}
::ng-deep .p-metergroup-meters{
  overflow: visible;
}
::ng-deep .p-metergroup-meter{
  transition: all 0.1s ease-in-out;
}
::ng-deep .p-metergroup-meter:hover {
  border: 1px solid #fff;
  scale: 1.5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.meter-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
}
.meter-icon {
  border-radius: 50%;
  padding: 6px 8px;
}
@media (max-width: 1024px) {
  .file-manager-container .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .file-manager-container .header .title-container {
    position: relative;
    left: 0;
    transform: none;
    text-align: center;
  }
  .file-manager-container .header .right-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .file-manager-container .header .right-container .info-btn {
    position: relative;
    left: 0;
    transform: none;
  }
}
@media (max-width: 768px) {
  .file-manager-container .header .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .file-manager-container .header .title-container {
    position: relative;
    left: 0;
    transform: none;
  }
  ::ng-deep html {
    overflow: auto !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .file-manager-container .header .title-container {
    position: relative;
    left: 0;
    transform: none;
  }
}
