<section class="section">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-2 col-md-4 p-0">
        <div class="sidebar">
          <div class="header d-flex align-items-center">
            <img src="../../../assets/angular-logo.webp" alt="Angular Logo" class="logo">
            <h4 class="mb-0 title">Lucentia Cloud</h4>
          </div>
          <div class="body py-3">
            <ul class="list-unstyled py-2">
              <li class="list-item"
                [ngClass]="{'active': (showAllFiles || showAllFolders) && !showSelectedFolder && !showMyDrive && !showStorage}">
                <a role="button" (click)="backToAllFiles()"> <i class="me-2 bi bi-house-fill"></i> Home </a>
              </li>
              <li class="list-item" [ngClass]="{'active': showMyDrive}">
                <a role="button" (click)="openMyDrive()"> <i class="me-2 bi bi-hdd-fill"></i> My Drive </a>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="list-item" [ngClass]="{'active': showFavorites}">
                <a role="button" (click)="openFolder('Favorites')"> <i class="me-2 bi bi-star-fill"></i> Favorite </a>
              </li>
              <li class="list-item" [ngClass]="{'active': showShared}">
                <a role="button" (click)="openFolder('Shared')"> <i class="me-2 bi bi-share-fill"></i> Shared </a>
              </li>

            </ul>
          </div>
          <mat-divider></mat-divider>
          <div class="footer">
            <ul class="list-unstyled">
              <li class="list-item" [ngClass]="{'active': showTrash}">
                <a role="button" (click)="openFolder('Trash')"> <i class="me-2 bi bi-trash3"></i> Trash </a>
              </li>
              <li [ngClass]="{'active':showStorage}"
                class="list-item d-flex justify-content-between align-items-center">
                <a role="button" (click)="openStorage()"> <i class="me-2 bi bi-cloud-fill"></i> Storage </a>
              </li>
              <li class="list-item px-2">
                <small *ngIf="totalSize"> {{formatFileSize(totalSize)}} of 10Gb </small>
                <small *ngIf="!totalSize"> 0 Bytes of 10Gb </small>
                <p-meterGroup [max]="10737418240" [value]="totalSizeMeter"></p-meterGroup>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- File Manager Container -->
      <div class="col-lg-10 col-md-8 p-0">
        <div class="row">
          <div class="col-lg-8 col-md-7 small-container" [ngClass]="{
            'full-container' : !detailsActive,
          }">
            <div class="container-fluid file-manager-container px-0 py-3">
              <!-- Header Container -->
              <div class="header px-4 py-3">
                <button (click)="backToAllFiles()" type="button" class="btn back-icon" *ngIf="showSelectedFolder">
                  <i class="bi bi-arrow-left text-dark"></i>
                  <small> {{selectedFolder?.name}} </small>
                </button>
                <div *ngIf="!showSelectedFolder && !showStorage && !showMyDrive" class="title-container">
                  <h2 class="title text-center"> Welcome to Lucentia Cloud </h2>
                </div>
                <div *ngIf="showMyDrive">
                  <h2 class="title"> My Drive </h2>
                </div>
                <div class="right-container">
                  <div *ngIf="!showSelectedFolder && !showStorage">
                    <!-- <input type="file" (change)="uploadFile($event)" #fileInput style="display: none;"> -->
                    <button type="button" (click)="showUploadDialog = true" class="animated-button"><i
                        class="bi bi-upload"></i>
                      Upload File </button>
                  </div>

                  <button *ngIf="!detailsActive && !showStorage" type="button" (click)="detailsActive = !detailsActive"
                    class="btn info-btn"> <i class="bi bi-info-circle text-dark"></i></button>
                </div>
              </div>
              <div class="filters-container">
                <!-- Search -->
                <div class="search-container">
                  <input (change)="searchFile()" [(ngModel)]="searchQuery" type="text" id="searchInput"
                    class="form-control" placeholder="Search keyword" />
                </div>
                <p-multiSelect [showClear]="false" [options]="fileTypes" placeholder="Select File Type"
                  (onChange)="onSelectedTypesChange($event.value)" [(ngModel)]="selectedTypes">
                  <ng-template let-type pTemplate="selectedTypes">
                    <div class="multiselect-item">
                      <i class="bi" [ngClass]="getFileIcon(type)"></i>
                      <span> {{type}} </span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </div>
              <div *ngIf="!showStorage" class="d-flex justify-content-between align-items-center pt-3 ">
                <div class="view-toggler">
                  <button [ngClass]="{
                    'btn-active': !tableView
                  }" (click)="showGrid()" type="button" class="btn btn-active"><i class="bi bi-grid"></i></button>
                  <button (click)="showTable()" type="button" class="btn" [ngClass]="{
                    'btn-active': tableView,
                  }"><i class="bi bi-list"></i></button>
                </div>
                <div *ngIf="filteredFiles.length === 0 && !showSelectedFolder" class="view-toggler me-3">
                  <button type="button" (click)="showFolders()" class="btn" [ngClass]="{
                    'btn-active': showAllFolders,
                  }"> <i class="bi bi-folder-fill"></i> Folders </button>
                  <button type="button" (click)="showFiles()" class="btn" [ngClass]="{
                    'btn-active': showAllFiles,
                  }"> <i class="bi bi-file-earmark-text-fill"></i> Files </button>
                </div>
                <div *ngIf="showSelectedFolder && selectedFolder?.name === 'Trash' && files.length > 0"
                  class="view-toggler me-3">
                  <button type="button" (click)="clearTrash()" class="btn"> <i class="bi bi-trash2"></i> Empty Trash
                  </button>
                </div>
              </div>
              <!-- Files Containers -->
              <div class="body py-4">
                <!-- All files Grid -->
                <div *ngIf="(showAllFiles || selectedTypes.length > 0 || showAllFolders) && !tableView"
                  class="file-manager-body">

                  <!-- Filtered Type Files Container -->
                  <div *ngIf="selectedTypes.length > 0 && searchQuery === ''" class="files-container">
                    <p-divider align="left" type="solid"> Filtered Files </p-divider>
                    <div class=" files">
                      <div *ngFor="let filteredFile of filteredFiles" (click)="selectFile(filteredFile)" #file
                        class="file">
                        <i class="bi" [ngClass]="getFileIcon(filteredFile.ext)"></i>
                        <span class="file-name"> {{filteredFile.name}} </span>
                        <p-contextMenu [model]="filesMenu" [target]="file"
                          (onShow)="selectedFile = filteredFile"></p-contextMenu>
                      </div>
                    </div>
                  </div>

                  <!-- Filtered Type Files Container -->
                  <div *ngIf="searchQuery !== '' && selectedTypes.length === 0" class="files-container">
                    <p-divider align="left" type="solid"> Filtered Files </p-divider>
                    <div class=" files">
                      <div *ngFor="let filteredFile of filteredFiles" (click)="selectFile(filteredFile)" #file
                        class="file">
                        <i class="bi" [ngClass]="getFileIcon(filteredFile.ext)"></i>
                        <span class="file-name"> {{filteredFile.name}} </span>
                        <p-contextMenu [model]="filesMenu" [target]="file"
                          (onShow)="selectedFile = filteredFile"></p-contextMenu>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="filteredFiles.length === 0">
                    <!-- Folders Row -->
                    <div *ngIf="folders.length > 0 && showAllFolders && !showSelectedFolder" class="files-container">
                      <p-divider align="left" type="solid"> Folders </p-divider>
                      <div #foldersId class="folders">
                        <div *ngFor="let folder of folders">
                          <div
                            *ngIf="folder.name !== 'Trash' && folder.name !== 'Favorites' && folder.name !== 'Shared'"
                            pDroppable (onDrop)="dropFile(folder.name)" (click)="selectFolder(folder)"
                            (dblclick)="openFolder(folder.name)" class="folder">
                            <img src="../../../assets/icons/folder.svg" alt="Folder Icon" class="folder-icon">
                            <span><i class="bi {{folder.icon}} folder-icon"></i></span>
                            <span> {{folder.name}} </span>
                          </div>
                        </div>
                        <p-contextMenu [model]="folderMenu" [target]="foldersId"
                          (onShow)="selectedFile"></p-contextMenu>
                      </div>
                    </div>

                    <!-- All Files -->
                    <div *ngIf="showAllFiles && !showSelectedFolder && files.length > 0 && !searchQuery"
                      class="files-container">
                      <p-divider align="left" type="solid"> Files </p-divider>
                      <div #file class="row files">
                        <div *ngFor="let file of files" (click)="selectFile(file)" pDraggable
                          (onDrag)="selectFile(file)" #file class="col-md-2 file">
                          <div class="file" *ngIf="file.folderName[0] !== 'Trash'">
                            <i *ngIf="file.folderName[0] !== 'Images'" class="bi" [ngClass]="getFileIcon(file.ext)"></i>
                            <img [src]="file.imageUrl" alt="Image Preview" *ngIf="file.folderName[0] === 'Images'"
                              class="img-icon">
                            <span class="file-name"> {{file.name}} </span>

                          </div>
                        </div>
                        <p-contextMenu [model]="filesMenu" [target]="file"></p-contextMenu>
                      </div>
                    </div>
                    <div class="empty-container d-flex flex-column justify-content-center align-items-center"
                      *ngIf="files.length === 0 && showAllFiles && !showSelectedFolder">
                      <img src="../../../assets/icons/no_files.webp" alt="No files" class="search-img img-fluid">
                      <h2 class="mb-0"> No files uploaded </h2>
                    </div>

                    <!-- Selected Folder Files -->
                    <div *ngIf="showSelectedFolder && selectedFolder">
                      <div class="empty-container"
                        *ngIf="selectedFolder.files.length === 0 && selectedFolder.name !== 'Trash'">
                        <img src="../../../assets/icons/search-file.webp" alt="No files" class="search-img img-fluid">
                        <h2 class="mb-0"> No files in this folder </h2>
                      </div>
                      <div class="empty-container"
                        *ngIf="selectedFolder.files.length === 0 && selectedFolder.name === 'Trash'">
                        <i class="bi bi-trash2"></i>
                        <h2 class="mb-0"> Trash Empty </h2>
                      </div>
                      <div *ngIf="selectedFolder.files.length > 0">
                        <p-divider align="left" type="solid"> {{selectedFolder?.name}} </p-divider>
                        <div #file class="files">
                          <div *ngFor="let file of files" pDraggable (click)="selectFile(file)" class="file">
                            <i class="bi" [ngClass]="getFileIcon(file.ext)"></i>
                            <span class="file-name"> {{file.name}} </span>
                          </div>
                        </div>
                        <p-contextMenu *ngIf="selectedFolder?.name === 'Trash'" [model]="trashMenu"
                          [target]="file"></p-contextMenu>
                        <p-contextMenu *ngIf="selectedFolder?.name !== 'Trash'" [model]="filesMenu"
                          [target]="file"></p-contextMenu>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Table View -->
                <div *ngIf="tableView" class="file-manager-body">
                  <!-- Filtered Type Files Table -->
                  <div *ngIf="filteredFiles.length > 0 && (searchQuery !== '' || selectedTypes.length > 0)"
                    class="files-table">
                    <p-table [value]="filteredFiles" [tableStyle]="{ 'min-width': '50rem' }">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Date</th>
                          <th>Location</th>
                          <th>Size</th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-file>
                        <tr role="button" (click)="selectFile(file)">
                          <td><i class="me-2 bi" [ngClass]="getFileIcon(file.ext)"></i>{{ file.name }}</td>
                          <td>{{ file.modifiedOn }}</td>
                          <td>{{ file.folderName[0] }}</td>
                          <td>{{ formatFileSize(file.size) }}</td>
                          <td>
                            <div *ngIf="selectedFile && selectedFile.folderName[0] !== 'Trash'" class="dropstart">
                              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false" data-bs-auto-close="outside"><i
                                  class="bi bi-three-dots-vertical text-dark"></i></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" role="button"><i class="bi bi-download me-2"></i> Download
                                  </a>
                                </li>
                                <li class="dropstart">
                                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                    <i class="bi bi-arrow-right me-2"></i> Move To
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li *ngFor="let folder of folders" (click)="moveFile(selectedFile, folder.name)">
                                      <a class="dropdown-item" role="button"> {{folder.name}} </a>
                                    </li>
                                  </ul>
                                </li>
                                <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                      class="bi bi-pencil me-2"></i>Rename</a></li>
                                <li>
                                  <a (click)="deleteToTrash(selectedFile)" class="dropdown-item" role="button">
                                    <i class="bi bi-trash3 me-2"></i> Trash
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div *ngIf="selectedFile && selectedFile.folderName[0] === 'Trash'" class="dropstart">
                              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false" data-bs-auto-close="outside"><i
                                  class="bi bi-three-dots-vertical text-dark"></i></button>
                              <ul class="dropdown-menu">
                                <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                      class="bi bi-pencil me-2"></i>Rename</a></li>
                                <li>
                                  <a (click)="restoreFile(selectedFile)" class="dropdown-item" role="button">
                                    <i class="bi bi-arrow-counterclockwise me-2"></i> Restore
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <!-- All Files Table -->
                  <div *ngIf="showAllFiles && !showSelectedFolder && !showStorage" class="files-table">
                    <div class="empty-container d-flex flex-column justify-content-center align-items-center"
                      *ngIf="files.length === 0 && showAllFiles && !showSelectedFolder">
                      <img src="../../../assets/icons/no_files.webp" alt="No files" class="search-img img-fluid">
                      <h2 class="mb-0"> No files uploaded </h2>
                    </div>
                    <div *ngIf="files.length > 0">
                      <p-table styleClass="p-datatable-gridlines" [value]="files"
                        [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Size</th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-file>
                          <tr role="button" *ngIf="file.folderName[0] !== 'Trash'" (click)="selectFile(file)">
                            <td><i class="me-2 bi" [ngClass]="getFileIcon(file.ext)"></i>{{ file.name }}</td>
                            <td>{{ file.modifiedOn }}</td>
                            <td>{{ file.folderName[0] }}</td>
                            <td>{{ formatFileSize(file.size) }}</td>
                            <td>
                              <div *ngIf="selectedFile && selectedFile.folderName[0] !== 'Trash'" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" role="button"><i class="bi bi-download me-2"></i>
                                      Download
                                    </a>
                                  </li>
                                  <li class="dropstart">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                      aria-expanded="false" role="button">
                                      <i class="bi bi-arrow-right me-2"></i> Move To
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li *ngFor="let folder of folders" (click)="moveFile(selectedFile, folder.name)">
                                        <a class="dropdown-item" role="button"> {{folder.name}} </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="deleteToTrash(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-trash3 me-2"></i> Trash
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="selectedFile && selectedFile.folderName[0] === 'Trash'" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="restoreFile(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-arrow-counterclockwise me-2"></i> Restore
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <!-- Folders Table -->
                  <div *ngIf="showAllFolders && !showSelectedFolder" class="folders-table">
                    <p-table styleClass="p-datatable-gridlines" [value]="folders"
                      [tableStyle]="{ 'min-width': '50rem' }">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Size</th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-folder>
                        <tr role="button" (dblclick)="openFolder(folder.name)" (click)="selectFolder(folder)">
                          <td><i class="me-2 bi bi-folder-fill"></i> {{ folder.name }}</td>
                          <td>{{ formatFileSize(folder.size) }}</td>
                          <td>
                            <div class="dropstart">
                              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="bi bi-three-dots-vertical text-dark"></i></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" role="button" (click)="deleteFolder(folder)"><i
                                      class="bi bi-trash3"></i> Delete </a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>

                  </div>
                  <!-- Selected Folder Files Table -->
                  <div *ngIf="showSelectedFolder && selectedFolder" class="files-table">
                    <div class="empty-container"
                      *ngIf="selectedFolder.files.length === 0 && selectedFolder.name !== 'Trash'">
                      <img src="../../../assets/icons/search-file.webp" alt="No files" class="search-img img-fluid">
                      <h2 class="mb-0"> No files in this folder </h2>
                    </div>
                    <div class="empty-container"
                      *ngIf="selectedFolder.files.length === 0 && selectedFolder.name === 'Trash'">
                      <i class="bi bi-trash2"></i>
                      <h2 class="mb-0"> Trash Empty </h2>
                    </div>
                    <div *ngIf="files.length > 0">
                      <p-table styleClass="p-datatable-gridlines" [value]="files"
                        [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Size</th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-file>
                          <tr role="button" (click)="selectFile(file)">
                            <td><i class="me-2 bi" [ngClass]="getFileIcon(file.ext)"></i>{{ file.name }}</td>
                            <td>{{ file.modifiedOn }}</td>
                            <td>{{ file.folderName[0] }}</td>
                            <td>{{ formatFileSize(file.size) }}</td>
                            <td>
                              <div *ngIf="selectedFile && selectedFile.folderName[0] !== 'Trash'" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" role="button"><i class="bi bi-download me-2"></i>
                                      Download
                                    </a>
                                  </li>
                                  <li class="dropstart">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                      aria-expanded="false" role="button">
                                      <i class="bi bi-arrow-right me-2"></i> Move To
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li *ngFor="let folder of folders" (click)="moveFile(selectedFile, folder.name)">
                                        <a class="dropdown-item" role="button"> {{folder.name}} </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="deleteToTrash(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-trash3 me-2"></i> Trash
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="selectedFile && selectedFile.folderName[0] === 'Trash'" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="restoreFile(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-arrow-counterclockwise me-2"></i> Restore
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <!-- Storage Table -->
                  <div *ngIf="showAllFiles && showStorage && !showSelectedFolder" class="files-table p-1">
                    <div class="card p-2 me-1">
                      <p-meterGroup [value]="storageMeterGroup" [max]="10737418240" labelPosition="start">
                        <ng-template pTemplate="label">
                          <div class="d-flex justify-content-center flex-wrap gap-3">
                            <ng-container *ngFor="let meterItem of storageMeterGroup; let index = index">
                              <p-card>
                                <div class="d-flex justify-content-between gap-2">
                                  <div class="d-flex flex flex-column gap-1">
                                    <span class="item-label">{{ meterItem.label }}</span>
                                    <span class="percentage-value"
                                      [style]="{'color': meterItem.color1}">{{calculatePercentageSize(folders[index].size)}}</span>
                                  </div>
                                  <span class="meter-icon-container">
                                    <i class="meter-icon"
                                      [style]="{'background-color': meterItem.color1, color: '#fff'}"
                                      [class]="meterItem.icon"></i>
                                  </span>
                                </div>
                              </p-card>
                            </ng-container>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="meter" let-value let-class="class" let-width="size">
                          <span pTooltip="{{value.label}}" tooltipPosition="top" [class]="class"
                            [style]="{ background: 'linear-gradient(to right, ' + value.color1 + ', ' + value.color2 + ')', width: width }"></span>
                        </ng-template>
                        <ng-template pTemplate="start" let-totalPercent="totalPercent">
                          <div class="flex justify-content-between mt-3 mb-2 relative">
                            <span>{{formatFileSize(totalSize)}}</span>
                            <span class="font-medium"> of 10 GB</span>
                          </div>
                        </ng-template>
                      </p-meterGroup>
                    </div>
                    <div class="empty-container" *ngIf="files.length === 0">
                      <img src="../../../assets/icons/search-file.webp" alt="No files" class="search-img img-fluid">
                      <h2 class="mb-0"> No files uploaded yet </h2>
                    </div>
                    <div *ngIf="files.length > 0">
                      <p-table styleClass="p-datatable-gridlines" [value]="files"
                        [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Size</th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-file>
                          <tr role="button" (click)="selectFile(file)">
                            <td><i class="me-2 bi" [ngClass]="getFileIcon(file.ext)"></i>{{ file.name }}</td>
                            <td>{{ file.modifiedOn }}</td>
                            <td>{{ file.folderName[0] }}</td>
                            <td>{{ formatFileSize(file.size) }}</td>
                            <td>
                              <div *ngIf="selectedFile" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" role="button"><i class="bi bi-download me-2"></i>
                                      Download
                                    </a>
                                  </li>
                                  <li class="dropstart">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                      aria-expanded="false" role="button">
                                      <i class="bi bi-arrow-right me-2"></i> Move To
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li *ngFor="let folder of folders" (click)="moveFile(selectedFile, folder.name)">
                                        <a class="dropdown-item" role="button"> {{folder.name}} </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="deleteToTrash(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-trash3 me-2"></i> Trash
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="selectedFile && selectedFile.folderName[0] === 'Trash'" class="dropstart">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                  aria-expanded="false" data-bs-auto-close="outside"><i
                                    class="bi bi-three-dots-vertical text-dark"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a (click)="renameFile()" class="dropdown-item" role="button"><i
                                        class="bi bi-pencil me-2"></i>Rename</a></li>
                                  <li>
                                    <a (click)="restoreFile(selectedFile)" class="dropdown-item" role="button">
                                      <i class="bi bi-arrow-counterclockwise me-2"></i> Restore
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div [@detailsAnimation]="detailsActive ? 'active' : 'inactive'" class="details col-lg-4 col-md-5 px-0">
            <!-- File // Folder Details When SelectedFile // SelectedFolder -->
            <div *ngIf="selectedFile || selectedFolder; else emptyDetails" class="container ps-0 p-4">
              <div class="details-header">
                <div *ngIf="selectedFile" class="file-title">
                  <i class="file-icon bi" [ngClass]="getFileIcon(selectedFile?.ext ?? '')"></i>
                  <h2 class="mb-0"> {{selectedFile.name}} </h2>
                </div>
                <div *ngIf="selectedFolder && !selectedFile" class="file-title">
                  <i class="file-icon bi bi-folder-fill"></i>
                  <h2 class="mb-0"> {{selectedFolder.name}} </h2>
                </div>
                <button type="button" (click)="detailsActive = false" class="btn close-btn"> <i
                    class="bi bi-x text-dark"></i> </button>
              </div>
              <div *ngIf="selectedFile && selectedFile.folderName[0] === 'Images'" class="preview">
                <img [src]="selectedFile.imageUrl" alt=" Image Preview" class="preview-img" loading="lazy">
              </div>
              <mat-divider></mat-divider>
              <div class="details-body">
                <div class="details-row">
                  <h3 class="mb-0"> Name: </h3>
                  <span *ngIf="selectedFile"> {{selectedFile.name}} </span>
                  <span *ngIf="selectedFolder && !selectedFile"> {{selectedFolder.name}} </span>
                </div>
                <div class="details-row">
                  <h3 class="mb-0"> Type: </h3>
                  <span *ngIf="selectedFile"> {{getFileType(selectedFile?.ext ?? '')}} </span>
                  <span *ngIf="selectedFolder && !selectedFile"> Folder </span>
                </div>
                <div class="details-row">
                  <h3 class="mb-0"> Size: </h3>
                  <span *ngIf="selectedFile"> {{formatFileSize(selectedFile.size)}} </span>
                  <span *ngIf="selectedFolder && !selectedFile"> {{formatFileSize(selectedFolder.size)}} </span>
                </div>
                <div class="details-row">
                  <h3 class="mb-0"> Modified: </h3>
                  <span *ngIf="selectedFile"> {{selectedFile.modifiedOn}} </span>
                </div>
                <div *ngIf="selectedFile && selectedFile.folderName[0] !== ''" class="details-row">
                  <h3 class="mb-0"> Location: </h3>
                  <div class="location-btn-container d-flex flex-column gap-2">
                    <button *ngFor="let folder of selectedFile.folderName" type="button" (dblclick)="openFolder(folder)"
                      class="button">
                      <span>
                        <i class="me-2 bi bi-folder-fill"></i> {{folder}}
                      </span>
                    </button>
                  </div>
                </div>
                <div *ngIf="selectedFolder && !selectedFile" class="details-row">
                  <h3 class="mb-0"> Files: </h3>
                  <span *ngIf="selectedFolder.files.length === 0"> No files </span>
                  <ul *ngIf="selectedFolder.files.length > 0" class="list-unstyled">
                    <li class="list-item" *ngFor="let file of selectedFolder.files">
                      <span> {{file.name}} </span>
                    </li>
                  </ul>
                </div>
                <div *ngIf="selectedFile" class="mobile-menu details-row">
                  <h3> Menu </h3>
                  <div class="btn-container">
                    <button type="button" class="btn" (click)="downloadFile(selectedFile)"> <i
                        class="bi bi-download text-dark"></i> Download </button>
                    <button type="button" class="btn" (click)="renameFile()"> <i class="bi bi-pencil text-dark"></i>
                      Rename
                    </button>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-arrow-right text-dark"></i> Move To
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li *ngFor="let folder of folders" (click)="moveFile(selectedFile, folder.name)">
                          <a class="dropdown-item" role="button"> {{folder.name}} </a>
                        </li>
                      </ul>
                    </div>
                    <button type="button" class="btn" (click)="deleteToTrash(selectedFile)"> <i
                        class="bi bi-trash3 text-dark"></i> Trash </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Empty Details When !SelectedFile && !SelectedFolder -->
            <ng-template #emptyDetails>
              <div class="btn-container d-flex justify-content-end me-3 mt-3">
                <button type="button" (click)="detailsActive = false" class="btn close-btn"> <i
                    class="bi bi-x text-dark"></i> </button>
              </div>
              <div class="container text-center ps-0 p-4">
                <img src="../../../assets/icons/search-file.webp" alt="Search Icon" class="search-img img-fluid">
                <div class="body py-5">
                  <h3 class="mb-0"> Select a file to view its details </h3>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
<!-- Create Folder Dialog -->
<p-dialog [visible]="createFolderDialog" [modal]="true" closable="false">
  <ng-template pTemplate="headless">
    <div class="dialog-container bg-white p-4">
      <h4 class="mb-4"> Create Folder </h4>
      <div class="form-group">
        <label for="folderName"> Folder Name: </label>
        <input type="text" id="folderName" class="form-control" [(ngModel)]="newFolderName">
      </div>
      <div class="form-group">
        <label for="folderName"> Icon: </label>
        <input type="text" id="folderIcon" class="form-control" [(ngModel)]="newFolderIcon">
      </div>
      <div class="d-flex gap-2">
        <button type="button" class="button outline-danger text-danger" (click)="cancelCreateFolder()"> Cancel
        </button>
        <button type="button" class="button outline-success text-success" (click)="createFolder()"> Create </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- Rename Dialog -->
<p-dialog [visible]="renameFileDialog" [modal]="true" closable="false">
  <ng-template pTemplate="headless">
    <div class="dialog-container bg-white p-4">
      <h4 class="mb-4"> Rename File </h4>
      <div *ngIf="selectedFile" class="form-group d-flex">
        <input class="form-control" [(ngModel)]="newFileName">
        <button (click)="saveRenameFile(selectedFile)" class="btn"> <i
            class="bi bi-check-lg text-success input-icon"></i> </button>
        <button class="btn" (click)="cancelRenameFile()"> <i class="bi bi-x-lg text-danger input-icon"></i> </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- Upload Dialog -->
<p-dialog [visible]="showUploadDialog" draggable="false" [modal]="true" closable="false"
  [style]="{width: '100%', 'max-width': '1300px'}">
  <input #fileInput multiple type="file" (change)="onFileSelect($event)" style="display: none;">
  <ng-template pTemplate="content">
    <div class="d-flex flex-column align-items-center gap-3">
      <i class="bi bi-cloud-upload text-primary" style="font-size: 3rem;"></i>
      <p> Drag and drop files here to upload </p>
      <p> or </p>
      <button (click)="fileInput.click()" type="button" class="btn btn-primary"> Select Files </button>
      <div *ngIf="uploadedFiles.length > 0"
        class="files-preview d-flex justify-content-center align-items-center gap-4">
        <div *ngFor="let file of uploadedFiles" class="file-preview">
          <div class="d-flex flex-wrap gap-3 mb-2">
            <div>
              <i class="bi" [ngClass]="getFileIcon(file.type)"></i>
              <span> {{file.name}} </span>
            </div>
            <span> {{formatFileSize(file.size)}} </span>
          </div>
          <img *ngIf="file.type.includes('Image')" [src]="file.imageUrl" alt="Image Preview"
            class="img-fluid preview-img">
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-between gap-3">
      <button type="button" class="btn btn-outline-danger" (click)="cancelUpload()"> Cancel </button>
      <button type="button" class="btn btn-primary" (click)="uploadFile(uploadedFiles)"> Upload </button>
    </div>
  </ng-template>
</p-dialog>

<!-- Confirmation Dialog -->
<p-confirmDialog></p-confirmDialog>

<!-- Toast Notification -->
<p-toast key="trash" [position]="'bottom-right'">
  <ng-template let-message pTemplate="headless">
    <div class="p-toast-message-content d-flex align-items-center">
      <div class="p-toast-message-icon">
        <img [src]="message.icon" [alt]="message.key">
      </div>
      <div class="p-toast-message-text d-flex flex-column">
        <span class="p-toast-summary" style="font-weight: 600;"> {{message.summary}}</span>
        <small class="p-toast-detail"> {{message.detail}} </small>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-right"></p-toast>
