.card{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.38);
  padding: 15px;
  width: 100%;
  max-width: 100%;
}
.issues-overview .card{
  padding: 20px;
  border: 0;
  box-shadow: none;
}
.issues-overview .count .card .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.issues-overview .count .card .card-body .issues-count{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.issues-overview .count .card .card-body .issues-type{
  font-size: 18px;
  font-weight: 400;
}
.issues-overview .secondary .card .card-body .issues-count{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.issues-overview .secondary .card .card-body .issues-type{
  font-size: 16px;
  font-weight: 400;
}
.bg-primary, .bg-success, .bg-secondary, .bg-danger, .bg-warning, .bg-info {
  --bs-bg-opacity: 0.18;
}
.issues-overview .col-md-3 .card{
  padding: 5px;
}
.text-primary{
  color: rgb(0, 63, 157) !important;
}
.text-warning{
  color: rgb(185, 139, 0) !important;
}
.text-info{
  color: rgb(0,123,147) !important;
}
