<section class="section2">
  <div class="container mb-5">
    <div class="title2">
      <h1> Frequently Asked Questions </h1>
      <span class="text-muted">Start small and free, upgrade as you go. Take control of everything.</span>
    </div>
    <div class="faq-container">
      <div class="row g-5">
        <div class="col-md-6">
          <div class="faq-item">
            <h3> What is the difference between the free and the paid plans? </h3>
            <span class="text-muted"> The free plan is limited to 10 projects and 5GB of storage. The paid plans have unlimited projects and storage. </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq-item">
            <h3> Can I cancel my subscription at any time? </h3>
            <span class="text-muted"> Yes, you can cancel your subscription at any time. </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq-item">
            <h3> Can I upgrade my plan at any time? </h3>
            <span class="text-muted"> Yes, you can upgrade your plan at any time. </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq-item">
            <h3> Can I get a refund if I am not satisfied with the service? </h3>
            <span class="text-muted"> Yes, you can get a refund if you are not satisfied with the service. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
