<section class="section">
  <div class="container title">
    <h1>Hello,<br> We are LucentiaLab </h1>
    <h2> Let us tell you more about we do </h2>
  </div>
</section>
<section class="section2">
  <div class="container">
    <div class="about">
      <h1> We Build Great Products. </h1>
      <p> We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. </p>
      <p> We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. </p>
    </div>
    <div class="about">
      <h1> We <i class="bi bi-heart-fill heart"></i> love what we do. </h1>
      <p> We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. We are a team of talented developers, designers, and marketers who are passionate about building great products. </p>
    </div>
  </div>
</section>
<app-team-section></app-team-section>
<app-features-section2></app-features-section2>
<app-newsletter></app-newsletter>
