::ng-deep html{
  overflow: hidden;
}
.section{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3cpath d='M303.196%2c779.394C363.937%2c781.094%2c427.06%2c761.279%2c458.027%2c708.997C489.486%2c655.885%2c481.793%2c587.573%2c447.028%2c536.563C416.063%2c491.128%2c358.179%2c481.882%2c303.196%2c481.814C248.052%2c481.746%2c188.533%2c489.8%2c158.747%2c536.207C126.989%2c585.686%2c132.661%2c650.179%2c162.686%2c700.728C192.066%2c750.191%2c245.688%2c777.784%2c303.196%2c779.394' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-13.56 516.97 a104.38 104.38 0 1 0 208.76 0 a104.38 104.38 0 1 0 -208.76 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M648.33 218.45 a164.08 164.08 0 1 0 328.16 0 a164.08 164.08 0 1 0 -328.16 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1255.217%2c429.561C1280.476%2c428.423%2c1300.206%2c408.952%2c1311.105%2c386.137C1320.559%2c366.348%2c1315.649%2c344.296%2c1305.147%2c325.043C1294.054%2c304.708%2c1278.378%2c284.068%2c1255.217%2c283.68C1231.599%2c283.284%2c1214.533%2c303.112%2c1202.298%2c323.317C1189.455%2c344.527%2c1178.814%2c369.405%2c1189.869%2c391.599C1201.907%2c415.767%2c1228.244%2c430.776%2c1255.217%2c429.561' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M941.06%2c487.779C964.268%2c487.314%2c987.589%2c481.16%2c1000.704%2c462.007C1015.701%2c440.106%2c1022.932%2c410.947%2c1009.247%2c388.203C995.849%2c365.936%2c967.014%2c361.573%2c941.06%2c362.878C917.718%2c364.052%2c896.247%2c374.731%2c883.8%2c394.512C870.426%2c415.766%2c863.986%2c443.083%2c877.125%2c464.484C889.845%2c485.202%2c916.754%2c488.266%2c941.06%2c487.779' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M915.98 46.51 a119.87 119.87 0 1 0 239.74 0 a119.87 119.87 0 1 0 -239.74 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M152.58%2c521.797C181.768%2c523.227%2c212.934%2c517.25%2c229.104%2c492.908C246.83%2c466.224%2c247.705%2c430.793%2c231.316%2c403.268C215.265%2c376.312%2c183.873%2c362.144%2c152.58%2c364.387C124.62%2c366.391%2c104.377%2c388.548%2c91.234%2c413.308C79.046%2c436.268%2c75.229%2c463.37%2c88.024%2c485.998C101.005%2c508.955%2c126.239%2c520.507%2c152.58%2c521.797' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1021.34 229.96 a120.98 120.98 0 1 0 241.96 0 a120.98 120.98 0 1 0 -241.96 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem;
}
.card{
  margin-top: 8rem;
  flex-wrap: wrap;
  border: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.title{
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.redirect{
  font-size: 15px;
  font-weight: 400;
}
.goto{
  font-size: 14px;
  font-weight: 400;
  a{
    text-decoration: none;
    font-weight: 400;
  }
}
.card-body{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
}
.icon-container{
  margin: 25px;
}
.logo-picture{
  width: 50px;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #023047;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(2%2c 48%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c585.611C107.215%2c596.001%2c192.332%2c492.778%2c266.466%2c414.63C328.917%2c348.797%2c358.799%2c263.062%2c387.606%2c177.014C413.664%2c99.175%2c433.863%2c20.469%2c425.766%2c-61.216C417.408%2c-145.527%2c397.472%2c-232.326%2c340.786%2c-295.293C284.533%2c-357.778%2c199.87%2c-382.541%2c118.268%2c-402.785C39.459%2c-422.336%2c-40.456%2c-424.485%2c-120.292%2c-409.677C-207.298%2c-393.539%2c-294.938%2c-371.4%2c-362.028%2c-313.699C-434.961%2c-250.973%2c-499.723%2c-169.008%2c-511.178%2c-73.496C-522.556%2c21.376%2c-473.617%2c112.166%2c-422.807%2c193.089C-376.65%2c266.601%2c-298.834%2c306.953%2c-235.22%2c366.01C-154.984%2c440.499%2c-108.972%2c575.05%2c0%2c585.611' fill='%23022639'%3e%3c/path%3e%3cpath d='M1440 1031.036C1525.603 1017.6030000000001 1590.497 951.0450000000001 1652.232 890.24 1704.153 839.102 1740.609 777.2470000000001 1766.742 709.218 1791.556 644.624 1798.622 577.59 1798.917 508.395 1799.258 428.41499999999996 1816.828 339.073 1768.59 275.276 1719.983 210.99 1628.159 205.197 1551.309 180.918 1472.766 156.10399999999998 1396.035 121.928 1314.251 131.738 1223.939 142.57100000000003 1124.663 166.61200000000002 1069.247 238.74099999999999 1014.271 310.298 1027.112 410.942 1030.46 501.117 1033.328 578.366 1063.385 647.581 1087.158 721.137 1114.399 805.424 1113.607 905.8620000000001 1180.162 964.316 1248.738 1024.546 1349.8319999999999 1045.185 1440 1031.036' fill='%23023a55'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: #fff;
}
.right-content {
  max-width: 700px;
  width: 100%;

}
.right-content .title {
  font-size: 40px;
  font-weight: 600;
}
.right-content .description {
  font-size: 18px;
  font-weight: 300;
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 5px solid #023047;
  object-fit: cover;
}
.img-container :nth-child(1),
.img-container :nth-child(2),
.img-container :nth-child(3) {
  margin-right: -18px;
}
@media (max-width: 1400px){
  .users-container{
    display: flex;
    flex-direction: column;
  }
}
