<section class="section">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-4">
          <div class="card-body">
            <div class="card-body text-center">
              <div class="icon-container">
                <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
              </div>
              <h2 class="title">You have signed out!</h2>
              <span class="redirect">Redirecting in 5 seconds</span>
              <small class="goto mt-5 text-muted">Go to <a href="/signin-fullscreen">sign in</a></small>
            </div>
          </div>
        </div>
        <div class="col-8 right-container">
          <div class="right-content m-2">
            <h2 class="title">Welcome to Angular</h2>
            <p class="description">
              Enter your personal details and start your journey with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

