<section class="section">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-5">
          <div class="card-header">
            <div class="icon-container">
              <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo"
                loading="lazy" />
            </div>
            <div class="title-header py-2">
              <h2 class="title">Forgot Your Password?</h2>
              <small class="title-2">Enter your email to reset your password.</small>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
              <!--Email-->

              <div class="py-3">
                <label class="form-label" for="floatingEmail"> Email </label>
                <div class="input-group">
                  <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email"
                    formControlName="email"
                    [ngClass]="{'is-invalid' : forgotForm.get('email')?.errors?.['email'] || forgotForm.get('email')?.errors?.['required'] && submitted}"
                    [ngClass]="{'is-valid': forgotForm.get('email')?.valid}">
                </div>
                <small class="text-danger" *ngIf="
                        forgotForm.get('email')?.errors?.['email'] &&
                        submitted
                      ">
                  Email not valid.
                </small>
                <small class="text-danger" *ngIf="
                        forgotForm.get('email')?.errors?.['required'] &&
                        submitted
                      ">
                  Email required.
                </small>
              </div>

              <!--Submit Button-->
              <div class="btn-container py-3">
                <button type="submit" class="btn submit-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7 right-container">
          <div class="right-content p-4">
            <h2 class="title mb-4">Welcome to<br> our community</h2>
            <p class="description">
              Enter your personal details and start your journey with us. Let's build a better community together!
            </p>
            <div class="users-container d-flex align-items-center gap-3 py-4">
              <div class="img-container">
                <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture10.webp" alt="Profile Picture" class="user-img">
                <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture9.webp" alt="Profile Picture" class="user-img">
                <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture8.webp" alt="Profile Picture" class="user-img">
                <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture7.webp" alt="Profile Picture" class="user-img">
              </div>
              <span>More than 17k people joined us, it's your turn</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
