<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-body pt-0">
        <div class="icon-container">
          <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
        </div>
        <div class="title-header">
          <h2 class="title">Coming Soon</h2>
          <span class="title-2"> </span>
        </div>
        <form>
          <div class="form-floating py-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
            <label for="floatingEmail"> Email </label>

          </div>
        </form>
      </div>
    </div>
    <!-- Countdown Timer -->
  </div>
</section>
