.section2{
  padding-bottom: 7rem !important;
  padding-top: 7rem !important;
}
.title h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: .8rem;
  color: #4b4bdf;
  text-wrap: balance;
}
.title span{
  font-size: 16px;
  font-weight: 400;
  text-wrap: balance;
}
::ng-deep .subscribe .circle{
  background: #4b4bdf !important;
}
::ng-deep .subscribe .button-text{
  color: #4b4bdf !important;
}
::ng-deep button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
::ng-deep button:hover .button-text {
  color: #fff !important;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #ff9f31;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 159, 49, 0.25);
}
