<section class="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h2>Subscribe to our Newsletter</h2>
          <span class="text-muted">Subscribe to our newsletter and get the latest news and updates from us.</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="newsletter-form">
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your email address">
            </div>
            <subscribe-btn></subscribe-btn>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
