.section{
  padding-top: 3rem;
}
.questions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn i{
  color: #4b4bdf;
}
.btn{
  color: #4b4bdf;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color .3s ease;
}
.btn:hover{
  background-color: #4b4bdf13;
  transform: none;
}

.title h1{
  font-size: 40px;
  color: #023047;
  font-weight: 600;
  padding: 20px 0;
}
.question-container{
  max-width: 1200px;
  width: 100%;
  margin-top: 3rem;
}
.question-container h3{
  font-size: 25px;
  font-weight: 600;
  color: #023047;

}
::ng-deep a{
  text-decoration: none;
  color: #023047;
}
::ng-deep .p-accordion-header-link{
  background-color: #fff;
  transition: border-bottom .5s ease-out;
}
::ng-deep .p-accordion-header-link[aria-expanded="true"]{
  border-bottom: 0;
}
::ng-deep .p-accordion-tab{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  background-color: transparent;
  margin: 18px 0;
  border-radius: 16px;
}
