.section{
  padding-top: 0;
  min-height: 0;
  overflow: hidden;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #4b4bdf;
  margin-bottom: 0.5rem;
}
.title span {
  font-size: 16px;
}
.carousel-container{
  max-width: 1800px;
  width: 100%;
  position: relative;
}
.feature{
  border: 1px solid #4b4bdf;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1rem;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
  min-height: 202px;
}
.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
}
.btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #4b4bdf;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1rem;
  i{
    font-size: 12px;
    color: #4b4bdf;
  }
}
.btn:hover {
  transform: none;
}
.button{
  border: 0;
  border-radius: 50%;
  padding: 10px 15px;
}

::ng-deep .p-carousel-next {
  position: absolute;
  top: -25%;
  right: 2%;
  transform: translateY(350%);
  border-radius: 50% !important;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #cccccc4b;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}
::ng-deep .p-carousel-prev {
  position: absolute;
  top: -25%;
  left: 2%;
  transform: translateY(350%);
  border-radius: 50% !important;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #cccccc4b;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}

::ng-deep .p-carousel-prev:disabled,
::ng-deep .p-carousel-next:disabled {
  display: none;
}

.carousel-container:hover ::ng-deep .p-carousel-next,
.carousel-container:hover ::ng-deep .p-carousel-prev {
  opacity: 1;
}
::ng-deep .p-carousel-indicator button{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
::ng-deep .p-carousel-indicator.p-highlight button{
  background-color: #4b4bdf;
}
