.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  font-weight: 400;
  margin-left: 5px;
}
.card{
  flex-wrap: wrap;
  width: 600px;
  max-width: 800px;
  border: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}
.card-header{
  background-color: #fff;
  border-bottom: 0;
}
.logo-picture{
  width: 50px;
}
.title{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.title-2{
  font-size: 15px;
  font-weight: 400;
}
.form-control{
  box-shadow: none;
  padding: 10px;
}
.input-group:focus-within .form-control {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  outline: 0;
  border-color: #02304784;
}
.form-check-input{
  box-shadow: none;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn{
  font-weight: 500;
  width: 200px;
  padding: 8px;
  border-radius: 20px;
  background-color: #023047;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform .3s ease-in-out;
}
.submit-btn:hover{
  transform: scale(1.05);
}
.submit-btn:active{
  box-shadow: none;
  background-color: #023047;
  color: #fff;
}
.form-floating label{
  position: absolute;
  top: 18px;
  left: 10px;
  height: fit-content;
  font-size: 16px;
  font-weight: 300;
  transition: transform .3s ease-in-out, top .2s ease-in-out;
}

.form-floating:focus-within label{
  position: absolute;
  top: 8px;
  background-color: #fff;
  padding: 5px;
  color: #023047;
  border-radius: 20px;
  border: 1px solid #023047;
}
