<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="icon-container">
          <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
        </div>
        <div class="title-header py-2">
          <h2 class="title">Forgot Your Password</h2>
          <small class="title-2">Enter your email to reset your password.</small>
        </div>
      </div>
      <div class="card-body pt-0">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <!--Email-->
          <div class="form-floating py-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
              formControlName="email"
              [ngClass]="{'is-invalid' : forgotForm.get('email')?.errors?.['email'] || forgotForm.get('email')?.errors?.['required'] && submitted}"
              [ngClass]="{'is-valid': forgotForm.get('email')?.valid}">
            <label for="floatingEmail"> Email </label>
            <small class="text-danger" *ngIf="
                  forgotForm.get('email')?.errors?.['email'] &&
                  submitted
                ">
              Email not valid.
            </small>
            <small class="text-danger" *ngIf="
                  forgotForm.get('email')?.errors?.['required'] &&
                  submitted
                ">
              Email required.
            </small>
          </div>
          <!--Submit Button-->
          <div class="btn-container py-3">
            <button type="submit" class="btn submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
