.navbar {
  position: relative;
  width: 100%;
  background-color: #023047;
}
.container-fluid {
  display: flex;
  align-items: center;
}
::ng-deep app-notifications-menu .button{
  margin-top: 2px;
}
@media (max-width: 1024px) {
  .sidebar {
    visibility: visible;
  }
  .megamenu {
    display: none;
    visibility: hidden;
  }
  app-notifications-menu{
    display: none;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    display: none;
    visibility: hidden;
  }
  .megamenu {
    display: block;
    visibility: visible;
  }
  app-notifications-menu{
    display: block;
  }
}
