<nav class="navbar">
  <div class="container-fluid">
    <div class="left-container d-flex align-items-center">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="megamenu">
        <app-megamenu></app-megamenu>
      </div>
    </div>
    <div class="right-container d-flex align-items-center">
      <app-notifications-menu></app-notifications-menu>
      <app-searchbar></app-searchbar>
      <app-fullscreen-toggler></app-fullscreen-toggler>
      <app-shortcuts-menu></app-shortcuts-menu>
      <app-message-menu></app-message-menu>
    </div>
  </div>
</nav>
