<section class="section2">
  <div class="container">
    <div class="title mb-5">
      <h2>Our Team</h2>
      <span>This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</span>
    </div>
    <div class="cards-container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card ">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/profile-pictures/profile-picture2.webp" alt="Profile Picture" class="profile-picture">
                </div>
                <div class="col-md-8">
                  <div class="card-info">
                    <h4>John Doe</h4>
                    <span>CEO & Founder</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi. Ut ut felis ac nunc lobortis porttitor.</p>
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card ">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/profile-pictures/profile-picture3.webp" alt="Profile Picture" class="profile-picture">
                </div>
                <div class="col-md-8">
                  <div class="card-info">
                    <h4>Jane Doe</h4>
                    <span>Designer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi. Ut ut felis ac nunc lobortis porttitor.</p>
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
