<section class="section">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="body">
          <div class="icon-container">
            <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
          </div>
          <h2 class="title">You have signed out!</h2>
          <span class="redirect">Redirecting in {{countdown}} seconds</span>
          <small class="goto mt-5 text-muted">Go to <a href="/signin-fullscreen">sign in</a></small>

        </div>
      </div>
      <div class="col-md-8 right-container">
        <div class="right-content m-2">
          <h2 class="title mb-4">Welcome to<br> our community</h2>
          <p class="description">
            Enter your personal details and start your journey with us. Let's build a better community together!
          </p>
          <div class="users-container d-flex align-items-center gap-3 py-4">
            <div class="img-container">
              <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture10.webp" alt="Profile Picture" class="user-img">
              <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture9.webp" alt="Profile Picture" class="user-img">
              <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture8.webp" alt="Profile Picture" class="user-img">
              <img loading="lazy" src="../../../../../assets/profile-pictures/profile-picture7.webp" alt="Profile Picture" class="user-img">
            </div>
            <span>More than 17k people joined us, it's your turn</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
