.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a322f;
  padding: 20px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  h3{
    font-size: 18px;
    font-weight: 500;
    color: #c9ad89;
  }
  .btn i{
      color: #fff;
  }
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 14px;
	background-color: currentColor;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 14px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c9ad89;
}

::ng-deep .p-overlaypanel {
  border-radius: 10px;
}
.shortcuts{
  overflow-x: hidden;
  max-height: 500px;
}
.shortcut{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: #1a322f;
}
.shortcut:hover{
  background-color: rgba(26,50,47,.1);
}
.icon{
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(26,50,47,0.3);
  font-size: 30px;
}


.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}




.empty-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  i{
    font-size: 50px;
  }
  span{
    font-size: 18px;
    font-weight: 500;
  }
  small{
    font-weight: 400;
  }
}
.edit-mode-container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.edit-mode-container .btn i{
  color: #1a322f;
}
.shortcut-link, .shortcut-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: #1a322f;
}
