<button type="button" (click)="overlayPanel.toggle($event)" class="btn"><i class="bi bi-copy"> </i></button>
<p-overlayPanel #overlayPanel [style]="{ width: '370px'}">
  <ng-template pTemplate="content">
    <header class="header">
      <h3 class="m-0"> Shortcuts </h3>
      <div class="btn-container">
        <button  type="button"  class="btn" [pTooltip]="'Enter Edit Mode'" tooltipPosition="top"><i class="bi bi-pencil"></i></button>
        <button  type="button"  class="btn" [pTooltip]="'Add Shortcut'" tooltipPosition="top"><i class="bi bi-plus-circle"></i></button>
      </div>
    </header>
    <div class="shortcuts">
      <div class="row">
        <a *ngFor="let shortcut of shortcuts; index as i" role="button" class="col-6 shortcut" [href]="shortcut.url">
          <span class="icon"><i class="bi" [ngClass]="shortcut.icon"></i></span>
          <h3 class="title m-0"><strong>{{shortcut.title}}</strong></h3>
          <small class="description">{{shortcut.description}}</small>
        </a>
      </div>
      <!-- <div class="empty-container text-center" *ngIf="shortcuts.length === 0">
        <i class="bi bi-send-fill mb-4"></i>
        <span class="mb-1">No Messages</span>
        <small class="p-2">When you receive a message, it will appear here</small>
      </div> -->
    </div>
  </ng-template>
</p-overlayPanel>
