<button type="button" (click)="overlayPanel.toggle($event)" class="btn"><i class="bi bi-copy"> </i></button>
<p-overlayPanel #overlayPanel [style]="{ width: '370px'}">
  <ng-template pTemplate="content">
    <header class="header">
      <h3 class="m-0"> Shortcuts </h3>
      <div class="btn-container">
        <button *ngIf="!editMode || shortcuts.length === 0" [disabled]="shortcuts.length === 0" type="button"  class="btn" [pTooltip]="'Enter Edit Mode'" tooltipPosition="top" (click)="toggleEditMode()"><i class="bi bi-pencil"></i></button>
        <button *ngIf="!editMode || shortcuts.length === 0"  type="button"  class="btn" [pTooltip]="'Add Shortcut'" tooltipPosition="top"><i class="bi bi-plus-circle"></i></button>
        <button *ngIf="editMode && shortcuts.length > 0"  type="button"  class="btn" [pTooltip]="'Finish Editing'" tooltipPosition="top" (click)="toggleEditMode()"><i class="bi bi-check-circle"></i></button>
      </div>
    </header>
    <div class="shortcuts">
      <div class="row">
        <div *ngFor="let shortcut of shortcuts; index as i" role="button" class="col-6 shortcut">
          <a *ngIf="!editMode" class="shortcut-link" [href]="shortcut.url">
            <span class="icon"><i class="bi" [ngClass]="shortcut.icon"></i></span>
            <h3 class="title m-0"><strong>{{shortcut.title}}</strong></h3>
            <small class="description">{{shortcut.description}}</small>
          </a>
          <div *ngIf="editMode" class="edit-mode-container">
            <button type="button" class="btn" ><i class="bi bi-pencil"></i></button>
            <button type="button" class="btn" (click)="deleteShortcut(i)"><i class="bi bi-x"></i></button>
          </div>
          <div class="shortcut-item" *ngIf="editMode">
            <span class="icon"><i class="bi" [ngClass]="shortcut.icon"></i></span>
            <h3 class="title m-0"><strong>{{shortcut.title}}</strong></h3>
            <small class="description">{{shortcut.description}}</small>
          </div>
        </div>
      </div>
      <div class="empty-container text-center" *ngIf="shortcuts.length === 0">
        <i class="mb-4 bi bi-window-plus"></i>
        <span class="mb-1">No Shortcuts</span>
        <small>Click the plus button to add a new shortcut</small>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
