<div class="card chart-card">
  <div class="card-body w-100">
    <div class="header d-flex justify-content-between align-items-center">
      <h2 class="m-0">Weekly Expenses</h2>
      <div class="dropdown">
        <button class="btn dropdown-toggle hidden-arrow" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
        <ul class="dropdown-menu mt-4">
          <li><a class="dropdown-item" role="button" (click)="show2WeeksAgoData()">2 Weeks Ago</a></li>
          <li><a class="dropdown-item" role="button" (click)="showLastWeekData()">Last Week</a></li>
          <li><a class="dropdown-item" role="button" (click)="showCurrentWeekData()">This Week</a></li>
        </ul>
      </div>
    </div>
    <div class="chart px-3 d-flex justify-content-between align-items-center">
      <div class="info">
        <h2 class="m-0">{{totalExpenses}}€</h2>
        <span class="text-success"><i class="bi bi-arrow-down-right"></i> 2%<small class="text-muted"> Below Projected </small></span>
      </div>
      <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [responsive]="responsive" [dataLabels]="dataLabels"
        [yaxis]="yaxis" [grid]="grid" [markers]="markers" [stroke]="stroke" [tooltip]="tooltip" [colors]="colors"></apx-chart>
    </div>
  </div>
</div>
