<section class="section">
  <div class="container title">
    <span class="badge text-white rounded-pill my-3"> PRICING </span>
    <h1 class="my-3"> Take control of your productivity </h1>
    <span class="text-muted">Start small and free, upgrade as you go.
      Take control of everything.</span>
    <div class="btn-container mt-5">
      <button (click)="toggleMonthly()" class="pricing-btn" [ngClass]="{
        'active' : pricingType === 'monthly'
      }" type="button"> Monthly </button>
      <button (click)="toggleYearly()" class="pricing-btn" [ngClass]="{
        'active' : pricingType === 'yearly'

      }" type="button"> Yearly </button>
    </div>
  </div>
  <div class="container pricing mt-5">
    <div class="row g-5 w-100">
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3> Personal </h3>
              <span>Perfect for an individual starting to get bigger</span>
            </div>
            <div *ngIf="pricingType==='monthly'" class="price-container  text-center">
              <h1 class="mb-0">9€<small> /month </small></h1>
              <span>billed monthly</span>
              <small> <strong>6€</strong> billed yearly </small>
            </div>
            <div *ngIf="pricingType==='yearly'" class="price-container text-center">
              <h1 class="mb-0">6€<small> /month </small></h1>
              <small>billed yearly</small>
              <small> <strong>9€</strong> billed monthly </small>
            </div>
            <div class="btn-container pb-4">
              <button class="button1"> Get Started </button>
            </div>
            <div class="details-container">
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> 10 </strong> projects </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> 5GB </strong> storage </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Analytics </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Free Mobile App </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Access to forums </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="card popular-card">
          <!-- <div class="badge-container">
            <span class="badge"> POPULAR </span>
          </div> -->
          <div class="card-body">
            <div class="card-title">
              <h3> Premium </h3>
              <span> Perfect for growing teams </span>
            </div>
            <div *ngIf="pricingType==='monthly'" class="price-container  text-center">
              <h1 class="mb-0">15€<small> /month </small></h1>
              <span>billed monthly</span>
              <small> <strong>12€</strong> billed yearly </small>
            </div>
            <div *ngIf="pricingType==='yearly'" class="price-container text-center">
              <h1 class="mb-0">12€<small> /month </small></h1>
              <small>billed yearly</small>
              <small> <strong>15€</strong> billed monthly </small>
            </div>
            <div class="btn-container pb-4">
              <button class="button2"> Start a free 14-days trial </button>
            </div>
            <div class="details-container">
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> Unlimited </strong> projects </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> Unlimited </strong> storage </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Custom Domains </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Bulk Editing </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> 12 / 5 Support </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3> Enterprise </h3>
              <span>Perfect for companies</span>
            </div>
            <div *ngIf="pricingType==='monthly'" class="price-container  text-center">
              <h1 class="mb-0">49€<small> /month </small></h1>
              <span>billed monthly</span>
              <small> <strong>69€</strong> billed yearly </small>
            </div>
            <div *ngIf="pricingType==='yearly'" class="price-container text-center">
              <h1 class="mb-0">69€<small> /month </small></h1>
              <small>billed yearly</small>
              <small> <strong>49€</strong> billed monthly </small>
            </div>
            <div class="btn-container pb-4">
              <button class="button1"> Get Started </button>
            </div>
            <div class="details-container">
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> 10 </strong> projects </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span><strong> 5GB </strong> storage </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Analytics </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Free Mobile App </span>
              </div>
              <mat-divider></mat-divider>
              <div class="item py-4">
                <i class="bi bi-check-lg text-success"></i>
                <span> Access to forums </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
