<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="icon-container">
          <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo" loading="lazy" />
        </div>
        <div class="title-header">
          <h2 class="title">Reset Your Password</h2>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <!--Current Password-->

          <div class="py-3">
            <label class="form-label" for="floatingPassword"> Current Password </label>
              <div class="input-group">
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingPassword" placeholder="Current Password"
                  formControlName="password"
                  [ngClass]="{'is-invalid' : resetForm.get('password')?.errors?.['required'] && submitted}"
                  [ngClass]="{'is-valid' : resetForm.get('password')?.valid}">
              </div>
              <small class="text-danger" *ngIf="
                    resetForm.get('password')?.errors?.['required'] &&
                    submitted
                  ">
                Current Password required.
              </small>
          </div>

          <!--New Password-->

          <div class="py-3">
            <label class="form-label" for="floatingNewPassword"> New Password </label>
              <div class="input-group">
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingNewPassword" placeholder="New Password"
                  formControlName="newPassword"
                  [ngClass]="{'is-invalid' : resetForm.get('newPassword')?.invalid && submitted}"
                  [ngClass]="{'is-valid' : resetForm.get('newPassword')?.valid}">
              </div>
              <small class="text-danger" *ngIf="
                    resetForm.get('newPassword')?.invalid &&
                    submitted
                  ">
                Password must be at least 6 characters.
              </small>
          </div>

          <!--Confirm Password-->

          <div class="pt-3 pb-2">
            <label class="form-label" for="floatingConfirmPassword"> Confirm Password </label>
              <div class="input-group">
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password"
                  formControlName="confirmPassword"
                  [ngClass]="{'is-invalid': !resetForm.get('confirmPassword')?.errors?.['passwordsNotMatching'] && submitted}"
                  [ngClass]="{'is-valid': resetForm.get('confirmPassword')?.errors?.['passwordsNotMatching'] && submitted}">
              </div>
              <small class="text-danger" *ngIf="
                    resetForm.errors?.['passwordsNotMatching'] &&
                    submitted
                  ">
                Passwords don't match.
              </small>
          </div>
          <button type="button" class="btn hide-btn" (click)="hidePassword = !hidePassword">
            <i class="bi" [ngClass]="{'bi-eye-slash': !hidePassword, 'bi-eye': hidePassword}"></i>
            <span *ngIf="hidePassword">Show Password</span>
            <span *ngIf="!hidePassword">Hide Password</span>
          </button>
          <!--Submit Button-->
          <div class="btn-container py-3">
            <button type="submit" class="btn submit-btn">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
