::ng-deep html{
  overflow: hidden;
}
.section{
  padding: 0;
}
.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  overflow: hidden !important;
  height: 100%;
  max-height: 92.6vh;
  min-height: 92.6vh;
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}
.row{
  min-height: 92.6vh;
  height: 100%;
}

.logo-picture{
  width: 40px;
}
.title-header{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  .title{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .title-2{
    font-size: 15px;
    font-weight: 400;
  }
}

.sign-in, .terms{
  text-decoration: none;
}
.input-group-text{
  padding: 0;
}
.form-control{
  flex-wrap: wrap;
  box-shadow: none;
  padding: 10px;
}
.input-group:focus-within .form-control {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  outline: 0;
  border-color: #02304784;
}
.form-check-input{
  box-shadow: none;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn{
  font-weight: 500;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  background-color: #023047;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform .3s ease-in-out;
}
.submit-btn:hover{
  transform: scale(1.05);
}
.submit-btn:active{
  box-shadow: none;
  background-color: #023047;
  color: #fff;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #023047;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(2%2c 48%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M741.46 600.9C841.22 597.68 904.05 454.18 1108.73 444.4 1313.42 434.62 1370.82 244.18 1476.01 237.2' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M839.81 668C966.9 651.65 1015.06 376.68 1250.25 361.01 1485.43 345.34 1550.87 206.85 1660.68 204.21' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M634.91 653.56C790.07 644.13 906.35 356.35 1180.99 356.18 1455.62 356.01 1583.4 533.11 1727.06 535.38' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M708.03 570.04C877.18 511.23 920.39 15.14 1156.4 11.37 1392.42 7.6 1475.15 265.08 1604.78 274.57' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M600.02 626.55C739.04 616.02 835.98 341.89 1079.21 341.26 1322.44 340.63 1435.05 458 1558.4 458.86' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: #fff;
}
.right-content {
  max-width: 700px;
  width: 100%;
}
.right-content .title {
  font-size: 40px;
  font-weight: 600;
}
.right-content .description {
  font-size: 18px;
  font-weight: 300;
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 5px solid #023047;
  object-fit: cover;
}
.img-container :nth-child(1),
.img-container :nth-child(2),
.img-container :nth-child(3) {
  margin-right: -18px;
}

.form-label{
  margin-left: 5px;
  font-weight: 400;
}
.btn i{
  color: #023047;
}
.google-icon{
  width: 30px;
  height: auto;
}
.button{
  display: flex;
  align-items: center;
  gap: 10px;
}
.button i{
  font-size: 30px;
}
.socials-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
::ng-deep .p-divider small{
  font-weight: 400;
}
::ng-deep .p-divider-content{
  background-color: #f6f6f6 !important;
}

@media (max-width: 768px){
  .row{
    margin-top: 2rem !important;
  }
  .col-md-6{
    display: flex;
    justify-content: center !important;
  }
}
@media (max-width: 1171px){
  .users-container{
    display: flex;
    flex-direction: column;
  }
}
