.section{
  padding-top: 2rem;
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1074%26quot%3b)' fill='none'%3e%3cpath d='M1046.5 346.2 a97.2 97.2 0 1 0 194.4 0 a97.2 97.2 0 1 0 -194.4 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-115.09 270.01 a173.5 173.5 0 1 0 347 0 a173.5 173.5 0 1 0 -347 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M428.632%2c489.535C459.476%2c491.148%2c493.267%2c486.415%2c510.059%2c460.493C528.025%2c432.76%2c525.982%2c395.322%2c507.334%2c368.043C490.58%2c343.535%2c458.302%2c340.376%2c428.632%2c341.381C401.202%2c342.31%2c372.947%2c349.649%2c358.653%2c373.079C343.836%2c397.366%2c346.074%2c428.299%2c360.728%2c452.685C374.945%2c476.344%2c401.068%2c488.094%2c428.632%2c489.535' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M893.11 244.11 a113.27 113.27 0 1 0 226.54 0 a113.27 113.27 0 1 0 -226.54 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1083.13 196.97 a179.19 179.19 0 1 0 358.38 0 a179.19 179.19 0 1 0 -358.38 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M8.98 509.34 a127.63 127.63 0 1 0 255.26 0 a127.63 127.63 0 1 0 -255.26 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1156.71 89.06 a117.19 117.19 0 1 0 234.38 0 a117.19 117.19 0 1 0 -234.38 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1074'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  border: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}
.card-header{
  background-color: #fff;
  border-bottom: 0;
}
.logo-picture{
  width: 50px;
}
.title{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.title-2{
  font-size: 15px;
  font-weight: 400;
}
.sign-in, .terms{
  text-decoration: none;
}
.form-control{
  box-shadow: none;
  padding: 10px;
}
.input-group:focus-within .form-control {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  outline: 0;
  border-color: #02304784;
}
.form-check-input{
  box-shadow: none;
}
.input-group-text{
  padding: 0;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  margin-left: 5px;
  font-weight: 400;
}
.submit-btn{
  font-weight: 500;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: #023047;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform .3s ease-in-out;
}
.submit-btn:hover{
  transform: scale(1.05);
}
.submit-btn:active{
  box-shadow: none;
  background-color: #023047;
  color: #fff;
}
.btn i{
  color: #023047;
  font-size: 16px;
}
.btn:hover{
  transform: none;
}
.google-icon{
  width: 30px;
  height: auto;
}
.button{
  display: flex;
  align-items: center;
  gap: 10px;
}
.button i{
  font-size: 30px;
}
.socials-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
::ng-deep .p-divider small{
  font-weight: 400;
}

