<div class="card chart-card">
  <div class="card-body w-100">
    <div class="header d-flex justify-content-between align-items-center">
      <h2 class="m-0">Yearly Expenses</h2>
      <button class="btn dropdown-toggle hidden-arrow" type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
      <ul class="dropdown-menu dropdown-menu--animated">
        <li><a class="dropdown-item" role="button" (click)="show2YearsAgoData()">2 Years Ago</a></li>
        <li><a class="dropdown-item" role="button" (click)="showLastYearData()">Last Year</a></li>
        <li><a class="dropdown-item" role="button" (click)="showCurrentYearData()">This Year</a></li>
      </ul>
    </div>
    <div class="chart px-3 d-flex justify-content-between align-items-center">
      <div class="info">
        <h2 class="m-0">{{totalExpenses}}€</h2>
        <small class="text-danger"><i class="bi bi-arrow-up-right"></i> 10%<span class="text-muted">above projected</span></small>
      </div>
      <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [responsive]="responsive" [dataLabels]="dataLabels"
        [yaxis]="yaxis" [grid]="grid" [markers]="markers" [stroke]="stroke" [tooltip]="tooltip" [colors]="colors"></apx-chart>
    </div>
  </div>
</div>
