.card{
  border: 0;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.title{
  font-size: 24px;
  font-weight: 600;
  color: #023047;
}
.btn i{
  font-size: 20px;
  color: #023047;
  transition: color .3s ease;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #023047;
  border-radius: .375rem;
  transition: background-color .3s ease, color .3s ease;
}
.btn:hover{
  background-color: #023047;
  color: #fff;
  transform: none;
}
.btn:hover i{
  color: #fff;
}
