<button #btn (click)="menu.toggle($event)" type="button" class="btn"><i class="bi bi-person-circle"><span [ngClass]="{
  'badge-online': userStatus === 'online',
  'badge-away': userStatus === 'away',
  'badge-busy': userStatus === 'busy',
  'badge-invisible': userStatus === 'invisible'
}"></span></i></button>
<p-tieredMenu #menu [model]="items"  [style]="{ width: 'fit-content', position: 'absolute'}" [popup]="true">
  <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
    <button type="button" routerLink="{{item.link}}" class="btn p-menuitem-link">
      <span [class]="item.icon" class="bi"></span>
      <div class="container">
        <div class="d-flex align-items-center gap-3">
          <span *ngIf="item.badge" pBadge [severity]="item.severity"></span>
          <span>{{ item.label }}</span>
        </div>
        <small *ngIf="item.description"><strong>{{ item.description }}</strong></small>
      </div>
      <i *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto text-primary"></i>
    </button>
  </ng-template>
</p-tieredMenu>
