<section class="section">
  <div class="container-fluid header">
    <div class="title text-center">
      <h2 class="small-title"> HELP CENTER </h2>
      <h1> How can we help you? </h1>
      <span>Search for a topic or question, check out our FAQs and guides, contact us for detailed
        support</span>
    </div>
    <div class="search-bar">
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-search"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search for a topic or question">
      </div>
    </div>
    <div class="cards-container">
      <div class="row g-3">
        <div class="col-lg-4">
          <a href="/faqs">
            <div class="card text-center">
              <div class="card-body">
                <h1> FAQs </h1>
                <span> Frequently asked questions and answers </span>
              </div>
              <div class="card-footer">
                <span> Go to FAQs </span>
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="/guides">
            <div class="card text-center">
              <div class="card-body">
                <h1> Guides </h1>
                <span> Step-by-step guides and tutorials </span>
              </div>
              <div class="card-footer">
                <span> Go to Guides </span>
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="/support">
            <div class="card text-center">
              <div class="card-body">
                <h1> Support </h1>
                <span> Contact us for detailed support </span>
              </div>
              <div class="card-footer">
                <span> Go to Support </span>
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-faq-section2></app-faq-section2>
