<div class="card chart-card">
  <div class="card-body">
    <div class="header">
      <h2 class="m-0">Monthly Expenses</h2>
      <div class="dropdown">
        <button class="btn dropdown-toggle hidden-arrow" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" role="button" (click)="show2WeeksAgoData()">2 Months Ago</a></li>
          <li><a class="dropdown-item" role="button" (click)="showLastWeekData()">Last Month</a></li>
          <li><a class="dropdown-item" role="button" (click)="showCurrentWeekData()">This Month</a></li>
        </ul>
      </div>
    </div>
    <div class="chart px-3">
      <div class="info">
        <h2 class="m-0">{{totalExpenses}}€</h2>
        <span class="text-warning"><i class="bi bi-arrow-up-right"></i> 4% <small class="text-muted"> Above Projected </small></span>
      </div>
      <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [responsive]="responsive" [dataLabels]="dataLabels"
        [yaxis]="yaxis" [grid]="grid" [markers]="markers" [stroke]="stroke" [tooltip]="tooltip" [colors]="colors"></apx-chart>
    </div>
  </div>
</div>
