<section class="section">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-6">
          <div class="card-header">
            <div class="icon-container">
              <img class="logo-picture" src="../../../../../assets/angular-logo.webp" alt="Angular Logo"
                loading="lazy" />
            </div>
            <div class="title-header">
              <h2 class="title">Sign In</h2>
              <small class="title-2">Do not have an account yet? <a class="sign-in" href="/signup-modern">Sign
                  up</a></small>
            </div>
          </div>
          <div class="card-body pt-0">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <!--Email-->
              <div class="form-floating py-3">
                <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                  formControlName="email"
                  [ngClass]="{'is-invalid' : signinForm.get('email')?.errors?.['email'] || signinForm.get('email')?.errors?.['required'] && submitted}"
                  [ngClass]="{'is-valid': signinForm.get('email')?.valid}">
                <label for="floatingEmail"> Email </label>
                <small class="text-danger" *ngIf="
                      signinForm.get('email')?.errors?.['email'] &&
                      submitted
                    ">
                  Email not valid.
                </small>
                <small class="text-danger" *ngIf="
                      signinForm.get('email')?.errors?.['required'] &&
                      submitted
                    ">
                  Email required.
                </small>
              </div>
              <!--Password-->
              <div class="form-floating d-flex align-items-center py-3">
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="floatingPassword"
                  placeholder="Password" formControlName="password"
                  [ngClass]="{'is-invalid' : signinForm.get('password')?.invalid && submitted}"
                  [ngClass]="{'is-valid' : signinForm.get('password')?.valid}">
                <label for="floatingPassword"> Password </label>
                <button type="button" class="btn" (click)="hidePassword = !hidePassword">
                  <i class="bi" [ngClass]="{'bi-eye-slash': !hidePassword, 'bi-eye': hidePassword}"></i>
                </button>
              </div>
              <small class="text-danger p-0 m-0" *ngIf="
                    signinForm.get('password')?.invalid &&
                    submitted
                  ">
                Password must be at least 6 characters.
              </small>
              <!--Submit Button-->
              <div class="btn-container py-3">
                <button type="submit" class="btn submit-btn">Log In</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-6 right-container">
          <div class="right-content m-2">
            <h2 class="title">Welcome to Angular</h2>
            <p class="description">
              Enter your personal details and start your journey with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
