<section class="section">
  <div class="container profile-container d-flex justify-content-between align-items-center">
    <div class="row profile w-100 d-flex justify-content-center align-items-center" @titleAnimation>
      <div class="col-md-3 d-flex justify-content-end  profile-image">
        <img pTooltip="Go to your profile" tooltipPosition="top" role="button" routerLink="/profile" loading="lazy" class="profile-picture" src="../../../assets/profile-pictures/profile-picture.webp" alt="Profile Image">
      </div>
      <div class="col-md-9  profile-details">
        <h2>Welcome back, Javier!</h2>
        <span class="text-muted"><i class="px-1 bi bi-bell-fill"></i>You have 2 new messages and 15 new tasks.</span>
      </div>
    </div>
    <div class="btn-container d-flex align-items-center gap-3" @buttonsAnimation
      (@buttonsAnimation.done)="buttonsAnimationFinished = true">
      <button routerLink="/file-manager" class="btn messages-btn"><i class="bi bi-hdd me-2"></i> My Unit </button>
      <button class="btn settings-btn" routerLink="/acc-settings"><i class="bi bi-gear me-2"></i> Settings </button>
    </div>
  </div>
  <button class="dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
    *ngIf="containerAnimationFinished" @dropdownAnimation>
    Project {{selectedProject}} <i class="bi bi-caret-down-fill arrow"></i>
  </button>
  <div class="dropdown">
    <ul class="dropdown-menu">
      <li><a role="button" class="dropdown-item" (click)="selectProject(1)">Project 1</a></li>
      <li><a role="button" class="dropdown-item" (click)="selectProject(2)">Project 2</a></li>
      <li><a role="button" class="dropdown-item" (click)="selectProject(3)">Project 3</a></li>
    </ul>
  </div>

  <div *ngIf="selectedProject === 1 && buttonsAnimationFinished" class="container-fluid p-3" @containerAnimation
    (@containerAnimation.done)="containerAnimationFinished = true">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="800ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-house px-2"></i>
          <span>Home</span>
        </ng-template>
        <!-- Home container -->
        <div class="home-container p-3">
          <div class="row  cards-container py-5 g-4">
            <div class="col-md-3 col-sm-6" *ngIf="dropdownAnimationFinished" @card1Animation>
              <div class="card primary-card">
                <div class="card-body">
                  <i class="text-primary bi bi-clipboard2"></i>
                  <div class="info text-end text-primary">
                    <h3 class="text-muted">Tasks</h3>
                    <h1>21</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-arrow-repeat"></i> Updated Now</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 " *ngIf="card1AnimationFinished" @card2Animation>
              <div class="card success-card">
                <div class="card-body ">
                  <i class="text-success bi bi-cash-coin"></i>
                  <div class="info text-end text-success">
                    <h3 class="text-muted">Revenue</h3>
                    <h1>1.500€</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-calendar"></i> Yesterday</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card2AnimationFinished" @card3Animation>
              <div class="card danger-card">
                <div class="card-body ">
                  <i class="text-danger bi bi-exclamation-circle"></i>
                  <div class="info text-end text-danger">
                    <h3 class="text-muted">Errors</h3>
                    <h1>10</h1>
                  </div>
                </div>
                <div class="card-footer text-danger">
                  <span><i class="bi bi-exclamation-circle"></i> High Priority</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card3AnimationFinished" @card4Animation>
              <div class="card info-card">
                <div class="card-body ">
                  <i class="text-info bi bi-graph-up"></i>
                  <div class="info text-end text-info">
                    <h3 class="text-muted">Performance</h3>
                    <h1>49,65%</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span class="text-success"><i class="bi bi-arrow-up"></i> 3.50%</span>
                  <small class="text-muted"> Since last month</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row issues-container mt-4" *ngIf="issuesAnimationFinished" @issuesAnimation>
            <div class="col-md-12">
              <app-issues-chart></app-issues-chart>
            </div>
          </div>
          <div class="row tasks-container mt-3" *ngIf="tasksAnimationFinished" @tasksAnimation>
            <div class="col-md-12">
              <app-tasks-charts></app-tasks-charts>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-currency-euro px-2"></i>
          <span>Budget</span>
        </ng-template>
        <div>
          <!-- Budget container -->
          <div class="budget-container p-3">
            <div class="row g-3">
              <div class="col-12">
                <app-budget-chart></app-budget-chart>
              </div>
              <div class="col-12">
                <app-budget-table></app-budget-table>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-people px-2"></i>
          <span class="d-flex align-items-center gap-2">Team <span class="badge"> {{teamMembers.length}}</span></span>
        </ng-template>
        <div>
          <!-- Team container -->
          <div class="team-container p-3">
            <app-team-members></app-team-members>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>



  <div *ngIf="selectedProject === 2 && buttonsAnimationFinished" class="container-fluid p-3" @containerAnimation
    (@containerAnimation.done)="containerAnimationFinished = true">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="800ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-house px-2"></i>
          <span>Home</span>
        </ng-template>
        <!-- Home container -->
        <div class="home-container p-3">
          <div class="row  cards-container g-4">
            <div class="col-md-3 col-sm-6" *ngIf="dropdownAnimationFinished" @card1Animation>
              <div class="card">
                <div class="card-body">
                  <i class="text-primary bi bi-clipboard2"></i>
                  <div class="info text-end text-primary">
                    <h3 class="text-muted">Tasks</h3>
                    <h1>21</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-arrow-repeat"></i> Updated Now</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 " *ngIf="card1AnimationFinished" @card2Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-success bi bi-cash-coin"></i>
                  <div class="info text-end text-success">
                    <h3 class="text-muted">Revenue</h3>
                    <h1>1.500€</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-calendar"></i> Yesterday</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card2AnimationFinished" @card3Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-danger bi bi-exclamation-circle"></i>
                  <div class="info text-end text-danger">
                    <h3 class="text-muted">Errors</h3>
                    <h1>10</h1>
                  </div>
                </div>
                <div class="card-footer text-danger">
                  <span><i class="bi bi-exclamation"></i> High Priority</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card3AnimationFinished" @card4Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-info bi bi-graph-up"></i>
                  <div class="info text-end text-info">
                    <h3 class="text-muted">Performance</h3>
                    <h1>49,65%</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span class="text-success"><i class="bi bi-arrow-up"></i> 3.50%</span>
                  <small class="text-muted"> Since last month</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row issues-container mt-5" *ngIf="issuesAnimationFinished" @issuesAnimation>
            <div class="col-md-12">
              <app-issues-chart></app-issues-chart>
            </div>
          </div>
          <div class="row tasks-container mt-3" *ngIf="tasksAnimationFinished" @tasksAnimation>
            <div class="col-md-12">
              <app-tasks-charts></app-tasks-charts>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-currency-euro px-2"></i>
          <span>Budget</span>
        </ng-template>
        <div>
          <!-- Budget container -->
          <div class="budget-container p-3">
            <div class="row g-3">
              <div class="col-12">
                <app-budget-chart></app-budget-chart>
              </div>
              <div class="col-12">
                <app-budget-table></app-budget-table>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-people px-2"></i>
          <span class="d-flex align-items-center gap-2">Team <span class="badge"> {{teamMembers.length}}</span></span>
        </ng-template>
        <div>
          <!-- Team container -->
          <div class="team-container p-3">
            <app-team-members></app-team-members>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="selectedProject === 3 && buttonsAnimationFinished" class="container-fluid p-3" @containerAnimation
    (@containerAnimation.done)="containerAnimationFinished = true">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="800ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-house px-2"></i>
          <span>Home</span>
        </ng-template>
        <!-- Home container -->
        <div class="home-container p-3">
          <div class="row  cards-container g-4">
            <div class="col-md-3 col-sm-6" *ngIf="dropdownAnimationFinished" @card1Animation>
              <div class="card">
                <div class="card-body">
                  <i class="text-primary bi bi-clipboard2"></i>
                  <div class="info text-end text-primary">
                    <h3 class="text-muted">Tasks</h3>
                    <h1>21</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-arrow-repeat"></i> Updated Now</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 " *ngIf="card1AnimationFinished" @card2Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-success bi bi-cash-coin"></i>
                  <div class="info text-end text-success">
                    <h3 class="text-muted">Revenue</h3>
                    <h1>1.500€</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span><i class="bi bi-calendar"></i> Yesterday</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card2AnimationFinished" @card3Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-danger bi bi-exclamation-circle"></i>
                  <div class="info text-end text-danger">
                    <h3 class="text-muted">Errors</h3>
                    <h1>10</h1>
                  </div>
                </div>
                <div class="card-footer text-danger">
                  <span><i class="bi bi-exclamation"></i> High Priority</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" *ngIf="card3AnimationFinished" @card4Animation>
              <div class="card">
                <div class="card-body ">
                  <i class="text-info bi bi-graph-up"></i>
                  <div class="info text-end text-info">
                    <h3 class="text-muted">Performance</h3>
                    <h1>49,65%</h1>
                  </div>
                </div>
                <div class="card-footer">
                  <span class="text-success"><i class="bi bi-arrow-up"></i> 3.50%</span>
                  <small class="text-muted"> Since last month</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row issues-container mt-5" *ngIf="issuesAnimationFinished" @issuesAnimation>
            <div class="col-md-12">
              <app-issues-chart></app-issues-chart>
            </div>
          </div>
          <div class="row tasks-container mt-3" *ngIf="tasksAnimationFinished" @tasksAnimation>
            <div class="col-md-12">
              <app-tasks-charts></app-tasks-charts>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-currency-euro px-2"></i>
          <span>Budget</span>
        </ng-template>
        <div>
          <!-- Budget container -->
          <div class="budget-container p-3">
            <div class="row g-3">
              <div class="col-12">
                <app-budget-chart></app-budget-chart>
              </div>
              <div class="col-12">
                <app-budget-table></app-budget-table>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="bi bi-people px-2"></i>
          <span class="d-flex align-items-center gap-2">Team <span class="badge"> {{teamMembers.length}}</span></span>
        </ng-template>
        <div>
          <!-- Team container -->
          <div class="team-container p-3">
            <app-team-members></app-team-members>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
