<section class="section">
  <div class="container-fluid title">
    <h1> Invoices </h1>
    <div class="btn-container">
      <button type="button" pButton pRipple icon="pi pi-file" (click)="invoicesTable.exportCSV()" class="mr-2"
        pTooltip="CSV" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2"
        pTooltip="PDF" tooltipPosition="bottom"></button>
      <button (click)="toggleCreateInvoice()" class="animated-button" type="button"> Create Invoice </button>
    </div>
  </div>
  <div class="container table-container">
    <div class="card">
      <p-table #invoicesTable [value]="invoices" [rowHover]="true" [tableStyle]="{'min-width': '50rem'}">
        <ng-template class="header" pTemplate="header">
          <tr>
            <!-- <th class="first-col" style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th> Invoice </th>
            <th> Customer </th>
            <th> Status </th>
            <th> Amount </th>
            <th> Issued Date </th>
            <th> Due Date </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template class="body" pTemplate="body" let-invoice let-columns="columns">
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="invoice"></p-tableCheckbox>
            </td> -->
            <td role="button" (click)="viewInvoice(invoice)">{{invoice.invoice}}</td>
            <td>
              <div class="d-flex flex-column">
                <span>{{invoice.billTo.name}}</span>
                <small class="text-muted">{{invoice.billTo.email}}</small>
              </div>
            </td>
            <td><p-tag [value]="invoice.status" [severity]="getSeverity(invoice.status)"></p-tag></td>
            <td>{{invoice.totalAmount | currency:'€'}}</td>
            <td>{{invoice.issuedDate}}</td>
            <td>{{invoice.dueDate}}</td>
            <td>
              <div class="d-flex gap-2">
                <button (click)="editInvoice(invoice)" class="btn edit-btn" type="button"> <i
                    class="bi bi-pencil text-secondary"></i> </button>
                <button (click)="deleteInvoice($event, invoice.id)" class="btn delete-btn" type="button"> <i
                    class="bi bi-trash3 text-danger"></i> </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Create Invoice Dialog -->
  <p-dialog [style]="{width: '50vw'}" [closable]="false" header="Create Invoice - {{newInvoice.invoice}}" [draggable]="false" [modal]="true"
    [visible]="createInvoiceDialog">
    <h2> Details </h2>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="billFrom"> Bill from </label>
        <input [(ngModel)]="newInvoice.billFrom.name" type="text" class="form-control" id="billFrom">
      </div>
      <div class="col">
        <label class="form-label" for="billTo"> Bill to </label>
        <input [(ngModel)]="newInvoice.billTo.name" type="text" class="form-control" id="billTo">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email"> Client Email </label>
      <input [(ngModel)]="newInvoice.billTo.email" type="email" class="form-control" id="email">
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="issuedDate"> Issued On </label>
        <input [(ngModel)]="newInvoice.issuedDate" type="date" class="form-control" id="issuedDate">
      </div>
      <div class="col">
        <label class="form-label" for="dueDate"> Due On </label>
        <input [(ngModel)]="newInvoice.dueDate" type="date" class="form-control" id="dueDate">
      </div>
    </div>
    <mat-divider class="py-3"></mat-divider>
    <h2> Invoice Item </h2>
    <div class="row py-3" *ngFor="let procut of newInvoice.products">
      <div class="col">
        <label class="form-label" for="item"> Item </label>
        <input [(ngModel)]="newInvoice.products[0].name" type="text" class="form-control" placeholder="Product 1"
          id="item">
      </div>
      <div class="col">
        <label class="form-label" for="price"> Price </label>
        <input [(ngModel)]="newInvoice.products[0].price" type="number" class="form-control" placeholder="500€"
          id="price">
      </div>
      <div class="col">
        <label class="form-label" for="qty"> Qty </label>
        <input [(ngModel)]="newInvoice.products[0].quantity" type="number" class="form-control" placeholder="1"
          id="qty">
      </div>
    </div>
    <button (click)="addProductNewInvoice()" type="button" class="button my-4"> <i class="bi bi-plus"></i> Add Product
    </button>
    <mat-divider class="py-3"></mat-divider>
    <h2> Status </h2>
    <div class="status-container d-flex gap-3 py-3">
      <div class="form-check form-check-inline" *ngFor="let status of statusOptions">
        <input [(ngModel)]="newInvoice.status" [checked]="status === newInvoice.status" class="form-check-input"
          type="radio" name="inlineRadioOptions" id="{{status}}Radio" value="{{status}}">
        <label class="form-check-label" for="{{status}}Radio"> {{status}} </label>
      </div>
    </div>
    <div class="btn-container d-flex align-items-center gap-2 pt-4">
      <button (click)="confirmCreateInvoice($event)" type="button" class="button bg-primary text-white"> Create
      </button>
      <button (click)="cancelCreateInvoice($event)" type="button" class="button btn-outline-danger text-danger">
        Cancel </button>
    </div>
  </p-dialog>

  <!-- Edit Invoice Dialog -->
  <p-dialog [style]="{width: '50vw'}" [closable]="false" header="Edit Invoice - {{editingInvoice.invoice}}" [draggable]="false" [modal]="true"
    [visible]="editingInvoiceDialog">
    <h2> Details </h2>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="billFrom"> Bill from </label>
        <input [(ngModel)]="editingInvoice.billFrom.name" type="text" class="form-control" id="billFrom">
      </div>
      <div class="col">
        <label class="form-label" for="billTo"> Bill to </label>
        <input [(ngModel)]="editingInvoice.billTo.name" type="text" class="form-control" id="billTo">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email"> Client Email </label>
      <input [(ngModel)]="editingInvoice.billTo.email" type="email" class="form-control" id="email">
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="issuedDate"> Issued On </label>
        <input [(ngModel)]="editingInvoice.issuedDate" type="date" class="form-control" id="issuedDate">
      </div>
      <div class="col">
        <label class="form-label" for="dueDate"> Due On </label>
        <input [(ngModel)]="editingInvoice.dueDate" type="date" class="form-control" id="dueDate">
      </div>
    </div>
    <mat-divider class="py-3"></mat-divider>
    <h2> Invoice Item </h2>
    <div class="row py-3" *ngFor="let product of editingInvoice.products">
      <div class="col">
        <label class="form-label" for="item"> Item </label>
        <input [(ngModel)]="product.name" type="text" class="form-control" placeholder="Product 1" id="item">
      </div>
      <div class="col">
        <label class="form-label" for="price"> Price </label>
        <input [(ngModel)]="product.price" type="number" class="form-control" placeholder="500€" id="price">
      </div>
      <div class="col">
        <label class="form-label" for="qty"> Qty </label>
        <input [(ngModel)]="product.quantity" type="number" class="form-control" placeholder="1" id="qty">
      </div>
    </div>
    <button (click)="addProductEditingInvoice()" type="button" class="button my-4"> <i class="bi bi-plus"></i> Add
      Product </button>
    <mat-divider class="py-3"></mat-divider>
    <h2> Status </h2>
    <div class="status-container d-flex gap-5 py-3">
      <div class="form-check form-check-inline gap-3" *ngFor="let status of statusOptions">
        <input [(ngModel)]="editingInvoice.status" [checked]="status === editingInvoice.status" class="form-check-input"
          type="radio" name="inlineRadioOptions" id="{{status}}Radio" value="{{status}}">
        <label class="form-check-label" for="{{status}}Radio"> {{status}} </label>
      </div>

    </div>
    <div class="btn-container d-flex align-items-center gap-2 pt-4">
      <button (click)="confirmEditInvoice($event)" type="button" class="button bg-primary text-white"> Save Changes
      </button>
      <button (click)="cancelEditInvoice($event)" type="button" class="button btn-outline-danger text-danger">
        Cancel </button>
    </div>

  </p-dialog>
  <p-toast [position]="'bottom-right'"></p-toast>
  <p-confirmDialog></p-confirmDialog>
</section>
