.section {
  padding-top: 0;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.title h1 {
  font-size: 50px;
  font-weight: 600;
}
.title .btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
::ng-deep tr td,
::ng-deep tr th {
  padding: 1.5rem;
}
::ng-deep .p-datatable-wrapper {
  border-radius: 16px !important;
}
::ng-deep tr th {
  background-color: #4b4bdf;
  color: #fff !important;
  font-weight: 500;
}
::ng-deep .p-tag {
  border-radius: 6px;
  padding: 5px 10px;
}
::ng-deep .p-tag-value {
  font-weight: 600;
}
.edit-btn{
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.edit-btn:hover{
  background-color: #4b4bdf1b;
  transform: none;
}
.delete-btn{
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.delete-btn:hover{
  background-color: #ff00001b;
  transform: none;
}
