<section class="section ">
  <div class="container-fluid">
    <div class="header d-flex justify-content-between align-items-center m-4">
      <div class="title-container">
        <h1 class="title mb-1 ">Analytics Dashboard</h1>
        <span> Monitor metrics and review performance </span>
      </div>
      <!-- <div class="btn-container d-flex gap-3">
        <button type="button" class="btn export-btn"><i class="me-2 bi bi-upload"></i> Export </button>
      </div> -->
    </div>
    <div class="cards-container m-4">
      <div class="row g-3">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <app-balance-chart></app-balance-chart>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <app-monthly-users></app-monthly-users>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
          <app-earnings-chart></app-earnings-chart>
        </div>
        <div class="col-md-12">
          <app-realtime-chart></app-realtime-chart>
        </div>
        <div class="col-md-12">
          <app-location-chart></app-location-chart>
        </div>
      </div>
    </div>
  </div>
</section>
