<section class="section bg-dark">
  <div class="container-fluid">
    <div class="cards-container m-4">
      <div class="row g-3">
        <div class="col-md-4 col-sm-12">
          <app-balance-chart></app-balance-chart>
        </div>
        <div class="col-md-4 col-sm-12">
          <app-monthly-users></app-monthly-users>
        </div>
        <div class="col-md-4 col-sm-12">
          <app-earnings-chart></app-earnings-chart>
        </div>
        <div class="col-md-12">
          <app-realtime-chart></app-realtime-chart>
        </div>
        <div class="col-md-12">
          <app-location-chart></app-location-chart>
        </div>
      </div>
    </div>
  </div>
</section>
